@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face {
  font-family: 'MyLotteBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.0/MyLotteBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BMDOHYEON';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.nanumgothic * {
  font-family: 'Nanum Gothic', sans-serif;
}
* {
  margin: 0px;
  padding: 0;
}
html,
body {
  font-size: 14px;
  background-color: #f3d7b2;
}
img {
  width: 100%;
}
#wrap {
  max-width: 410px;
  min-width: 375px;
  background-color: #f3d7b2;
  margin: 0 auto;
}
header h3 {
  padding-top: 50px;
  height: 30px;
  font-family: 'BMDOHYEON';
  font-weight: normal;
  border-bottom: 2px solid #383433;
  font-size: 0.8rem;
  letter-spacing: -1px;
  color: #383433;
  width: 95%;
  margin: 0 auto;
}
header h3 p {
  line-height: 30px;
  width: 50%;
  height: 100%;
  float: left;
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
}
header h3 p:nth-child(2) {
  text-align: right;
  padding-right: 10px;
}
header h1 {
  width: 95%;
  margin: 0 auto;
  margin-top: 3px;
  border-top: 4px solid #453221;
  border-bottom: 2px solid #453221;
  height: 200px;
}
header h1 img {
  margin-top: 20px;
}
main {
  min-height: 500px;
  border-top: 4px solid #383433;
  width: 95%;
  margin: 0 auto;
  margin-top: 3px;
}
main h3 {
  height: 100%;
  font-family: 'BMDOHYEON';
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 30px;
  color: #453221;
  font-size: 1.4rem;
}
main h3 span {
  color: #ee4f4c;
}
main div.cartoon {
  width: 100%;
  padding-bottom: 30px;
}
main div.line {
  width: 90%;
  height: 2px;
  background: #383433;
  margin: 0 auto;
}
section {
  padding-top: 30px;
}
section h3 {
  width: 85%;
  height: 60px;
  background-image: url(../img/sub_tit.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center;
  margin-bottom: 30px;
}
section p {
  text-align: center;
  font-family: 'BMDOHYEON';
  font-size: 1.2rem;
  color: #453221;
}
section p span {
  color: #ee4f4c;
}
section p span.blue_tit {
  color: #3d82a3;
}
section ul.circle_list {
  width: 100%;
  height: 110px;
  padding-top: 20px;
  text-align: center;
}
section ul.circle_list li {
  display: inline-block;
  width: 90px;
  height: 90px;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 150px;
  font-size: 0.8rem;
  position: relative;
  border: 1px solid #453221;
}
section ul.circle_list li span {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 15px;
}
section ul.circle_list li:nth-child(1) {
  background-color: #fbc328;
}
section ul.circle_list li:nth-child(2) {
  background-color: #dd5e17;
}
section ul.circle_list li:nth-child(3) {
  background-color: #509c90;
}
section ul.circle_list li:nth-child(4) {
  background-color: #86c1df;
}
section div.sub_desc {
  width: 100%;
  height: 200px;
  background-image: url(../img/sub_desc_box.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 50px;
}
section div.sub_desc ol {
  width: 70%;
  margin: 0 auto;
  font-family: 'BMDOHYEON';
  color: #453221;
  padding-left: 40px;
}
section div.sub_desc ol li {
  margin-bottom: 5px;
  font-size: 0.8rem;
}
section div.sub_desc ol li span {
  color: #ee4f4c;
}
section div.sub_desc ol ul {
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}
section div.sub_desc ol ul li {
  list-style-type: none;
  font-size: 0.7rem;
  margin-bottom: 8px;
}
footer {
  margin-top: 30px;
  min-height: 500px;
}
footer p {
  text-align: center;
  font-family: 'BMDOHYEON';
  font-size: 1.2rem;
  color: #453221;
}
footer p span {
  color: #ee4f4c;
}
footer p span.blue_tit {
  color: #3d82a3;
}
footer ul {
  width: 80%;
  margin: 20px auto;
  background: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 15px;
}
footer ul h2 {
  font-size: 1.5rem;
  text-align: center;
  font-family: 'MyLotteBold';
  color: #453221;
}
footer ul li {
  width: 70%;
  margin: 20px auto;
  height: 40px;
  list-style-type: none;
}
footer ul li div.label {
  margin-bottom: 5px;
  font-weight: bold;
}
footer ul li div input {
  box-sizing: border-box;
  height: 25px;
  width: 100%;
  border: 1px solid #453221;
}
footer div.sub_btn {
  width: 150px;
  height: 40px;
  color: white;
  background: #453221;
  margin: 20px auto;
}
