@import url(//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'BMDOHYEON';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  max-width: 450px;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Nanum Square';
}
@media screen and (max-width: 320px) {
  html,
  body {
    font-size: 12px;
  }
}
.main_wrap {
  max-width: 450px;
  height: 100vh;
  background-color: #c6e4dd;
  background-image: url(../img/main_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.main_wrap .start_btns {
  width: 100%;
  position: absolute;
  bottom: 0%;
  text-align: center;
}
@media screen and (max-width: 320px) {
  .main_wrap .start_btns {
    bottom: 15%;
  }
}
.main_wrap .start_btns li {
  display: inline-block;
  width: 38%;
  height: 250px;
  margin: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.main_wrap .start_btns li:nth-child(1) {
  background-image: url(../img/test.png);
}
.main_wrap .start_btns li:nth-child(2) {
  background-image: url(../img/mom_btn.png);
}
@media screen and (max-width: 320px) {
  .main_wrap .start_btns li {
    max-width: 110px;
    height: 110px;
    margin: 10px;
  }
}
.main_wrap footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
  font-family: 'Nanum Square';
  padding: 10px;
  box-sizing: border-box;
  font-size: 0.85rem;
}
.main_wrap footer span {
  font-weight: bold;
  font-size: 0.9rem;
}
.main_wrap footer img {
  width: 20px;
}
.main_wrap footer div {
  width: 30px;
  height: 100%;
  float: left;
  background-image: url(../img//footer_icon.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.main_wrap footer p {
  float: right;
  margin-right: 10px;
}
.qa_wrap {
  max-width: 450px;
  height: 100vh;
  background-color: #f4d666;
  padding: 20px;
  padding-top: 50px;
  box-sizing: border-box;
}
.qa_wrap div.h2_icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-image: url(../img//baby.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: skew(20deg);
  position: relative;
  top: -30px;
}
.qa_wrap h2 {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  background: #f39005;
  text-align: center;
  line-height: 40px;
  color: white;
  font-family: 'BMDOHYEON';
  font-weight: normal;
  transform: skew(-20deg);
  font-size: 1.5rem;
}
@media screen and (max-width: 320px) {
  .qa_wrap h2 {
    font-size: 1.55rem;
  }
}
.qa_wrap h2 p {
  transform: skew(20deg);
  position: relative;
  top: -48px;
}
.qa_wrap div.qa_bg {
  width: 95%;
  height: 240px;
  margin: 0 auto;
  margin-top: 20%;
  background-image: url(../img/cloun_bg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}
.qa_wrap div.qa_bg p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Nanum Square';
  letter-spacing: 1px;
  text-align: center;
  line-height: 30px;
  font-size: 1rem;
}
@media screen and (max-width: 320px) {
  .qa_wrap div.qa_bg p {
    line-height: 25px;
    font-size: 1.05rem;
  }
}
.qa_wrap div.qa_bg p span {
  font-weight: bold;
  color: #f39005;
}
.qa_wrap ul.anw_btns {
  width: 100%;
  height: 200px;
  text-align: center;
  margin: 20px auto;
}
.qa_wrap ul.anw_btns li {
  display: inline-block;
  width: 45%;
  max-width: 180px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 160px;
  text-align: center;
  height: 180px;
  font-family: 'BMDOHYEON';
  font-size: 1.4rem;
  letter-spacing: 2px;
}
.qa_wrap ul.anw_btns li:nth-child(1) {
  background-image: url(../img/btn_blue.png);
}
.qa_wrap ul.anw_btns li:nth-child(2) {
  background-image: url(../img/btn_red.png);
}
@media screen and (max-width: 320px) {
  .qa_wrap ul.anw_btns li {
    width: 40%;
    height: 120px;
    line-height: 110px;
  }
}
.inconsult_wrap p.tit_coment {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.inconsult_wrap ul.inputs {
  width: 70%;
  margin: 50px auto;
}
.inconsult_wrap ul.inputs li {
  height: 25px;
  display: block;
  margin-bottom: 30px;
  text-align: center;
  line-height: 25px;
}
.inconsult_wrap ul.inputs li div.label {
  width: 25%;
  height: 100%;
  float: left;
  background-color: #f39005;
  font-size: 0.9rem;
  font-weight: bold;
}
.inconsult_wrap ul.inputs li input {
  width: 60%;
  display: inline-block;
  height: 100%;
  border: 0px;
  vertical-align: top;
  margin-left: 25px;
  float: left;
}
.inconsult_wrap p {
  text-align: center;
}
.inconsult_wrap p input {
  vertical-align: middle;
  margin-left: 5px;
}
.inconsult_wrap div.btns {
  width: 150px;
  height: 50px;
  margin: 20px auto;
  cursor: pointer;
  background-image: url(../img/result_go.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.result_wrap {
  max-width: 450px;
  height: 100vh;
  background-color: #c6e4dd;
  background-image: url(../img/restult_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
  padding-top: 50px;
  box-sizing: border-box;
  background-position: bottom;
}
.result_wrap h2 {
  width: 80%;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  background-color: #208dc3;
  transform: skew(-20deg);
}
.result_wrap h2 p {
  transform: skew(20deg);
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 320px) {
  .result_wrap h2 p {
    font-size: 1.5rem;
  }
}
.result_wrap div.score_board {
  width: 60%;
  max-width: 160px;
  height: 160px;
  margin: 30px auto;
  background-image: url(../img//score_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  line-height: 160px;
  font-size: 1.5rem;
  font-weight: bold;
}
.result_wrap p.mention1 {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
}
.result_wrap p.mention1 span {
  font-weight: bold;
}
@media screen and (max-width: 320px) {
  .result_wrap p.mention1 {
    font-size: 1.1rem;
  }
}
.result_wrap ul {
  width: 100%;
  margin: 20px auto;
}
.result_wrap ul li {
  list-style-type: none;
  width: 20%;
  height: 50px;
  margin-top: 30px;
  float: left;
  box-sizing: border-box;
  border: 1px solid black;
}
.result_wrap p.mention2 {
  margin: 0 auto;
  font-size: 0.8rem;
  margin-top: 30px;
}
.result_wrap p.mention2 span {
  font-weight: bold;
  font-size: 0.85rem;
}
