@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'BMDOHYEON';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-size: 16px;
  background-color: #c6e4dd;
  font-family: 'NanumSquare', sans-serif;
}
@media screen and (max-width: 320px) {
  html,
  body {
    font-size: 12px;
  }
}
div.main_index {
  width: 100%;
  background-repeat: no-repeat;
  padding-top: 20px;
}
div.main_index h1 {
  width: 100%;
  height: 150px;
  background-image: url(../img/main_tit.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media screen and (max-width: 320px) {
  div.main_index h1 {
    height: 120px;
  }
}
div.main_index div.main_img {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  background-image: url(../img/main_il.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 320px) {
  div.main_index div.main_img {
    margin-top: 10px;
    height: 220px;
  }
}
div.main_index ul.start_btn {
  width: 100%;
  height: 130px;
}
@media screen and (max-width: 320px) {
  div.main_index ul.start_btn {
    height: 120px;
  }
}
div.main_index ul.start_btn li {
  width: 50%;
  height: 100%;
  float: left;
  list-style-type: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
div.main_index ul.start_btn li:nth-child(1) {
  background-image: url(../img/btn_blue.png);
}
div.main_index ul.start_btn li:nth-child(2) {
  background-image: url(../img/btn_red.png);
}
div.main_index footer {
  width: 100%;
  height: 60px;
  position: absolute;
  padding-top: 10px;
  box-sizing: border-box;
  bottom: 0px;
  font-size: 0.7rem;
  padding: 5px;
}
@media screen and (max-width: 320px) {
  div.main_index footer {
    font-size: 0.55rem;
  }
}
div.main_index footer div {
  width: 11%;
  height: 100%;
  float: left;
  background-image: url(../img/main_footer_icon.png);
  background-size: 80%;
  background-position: top;
  background-repeat: no-repeat;
}
div.main_index footer p {
  width: 88%;
  height: 100%;
  float: right;
}
div.main_index footer p span {
  font-weight: bold;
}
div.qa_wrap {
  width: 100%;
  height: 100%;
  background: #f4d666;
  position: absolute;
  padding-top: 30px;
  box-sizing: border-box;
}
div.qa_wrap h2 {
  width: 75%;
  height: 45px;
  margin: 0 auto;
  line-height: 45px;
  font-weight: bold;
  text-align: center;
  background-color: #f39005;
  color: white;
  transform: skew(-10deg);
  font-size: 1.6rem;
}
@media screen and (max-width: 320px) {
  div.qa_wrap h2 {
    font-size: 1.6rem;
  }
}
div.qa_wrap h2 p {
  transform: skew(10deg);
}
div.qa_wrap div.qa_box {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  background-image: url(../img/qa_box.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}
div.qa_wrap div.qa_box p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 320px) {
  div.qa_wrap div.qa_box {
    height: 250px;
  }
}
div.qa_wrap ul.anw_btns {
  margin-top: 50px;
  width: 100%;
  height: 150px;
}
@media screen and (max-width: 320px) {
  div.qa_wrap ul.anw_btns {
    height: 120px;
  }
}
div.qa_wrap ul.anw_btns li {
  width: 50%;
  height: 100%;
  float: left;
  list-style-type: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  line-height: 135px;
  font-size: 1.5rem;
  font-weight: bold;
}
div.qa_wrap ul.anw_btns li:nth-child(1) {
  background-image: url(../img/qa_blue.png);
}
div.qa_wrap ul.anw_btns li:nth-child(2) {
  background-image: url(../img/qa_red.png);
}
@media screen and (max-width: 320px) {
  div.qa_wrap ul.anw_btns li {
    line-height: 110px;
  }
}
div.inconsult_wrap {
  width: 100%;
  height: 100%;
  background: #f4d666;
  position: absolute;
  padding-top: 30px;
  box-sizing: border-box;
}
div.inconsult_wrap h2 {
  width: 75%;
  height: 45px;
  margin: 0 auto;
  line-height: 45px;
  font-weight: bold;
  text-align: center;
  background-color: #f39005;
  color: white;
  transform: skew(-10deg);
  font-size: 1.6rem;
}
@media screen and (max-width: 320px) {
  div.inconsult_wrap h2 {
    font-size: 1.6rem;
  }
}
div.inconsult_wrap h2 p {
  transform: skew(10deg);
}
div.inconsult_wrap p.tit_coment {
  text-align: center;
  margin-top: 50px;
  font-size: 0.9rem;
  color: gray;
}
@media screen and (max-width: 320px) {
  div.inconsult_wrap p.tit_coment {
    margin-top: 30px;
  }
}
div.inconsult_wrap ul.inputs {
  width: 65%;
  margin: 80px auto;
}
@media screen and (max-width: 320px) {
  div.inconsult_wrap ul.inputs {
    margin: 40px auto;
  }
}
div.inconsult_wrap ul.inputs li {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  list-style-type: none;
}
div.inconsult_wrap ul.inputs li div.label {
  width: 25%;
  height: 100%;
  background: #f39005;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-size: 0.9rem;
  float: left;
  margin-left: 5%;
  border-radius: 3px;
}
div.inconsult_wrap ul.inputs li input {
  height: 100%;
  width: 60%;
  float: right;
  margin-right: 5%;
}
div.inconsult_wrap ul.inputs li select {
  height: 100%;
  width: 60%;
  float: right;
  margin-right: 5%;
}
div.inconsult_wrap p {
  text-align: center;
}
div.inconsult_wrap div.btns {
  width: 80%;
  height: 100px;
  margin: 50px auto;
  background-image: url(../img/result_go.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 320px) {
  div.inconsult_wrap div.btns {
    height: 80px;
    margin: 30px auto;
  }
}
div.result_wrap {
  width: 100%;
  height: 100%;
  background-image: url(../img/restult_bg.png);
  background-position: bottom;
  background-size: cover;
  position: absolute;
}
div.result_wrap h2 {
  width: 100%;
  height: 130px;
  background-image: url(../img/result_tit.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
@media screen and (max-width: 320px) {
  div.result_wrap h2 {
    height: 110px;
  }
}
div.result_wrap div.score_board {
  width: 70%;
  height: 280px;
  background-image: url(../img/score_bg.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  text-align: center;
  line-height: 280px;
  font-size: 2.5rem;
}
@media screen and (max-width: 320px) {
  div.result_wrap div.score_board {
    height: 180px;
    width: 60%;
    line-height: 180px;
  }
}
div.result_wrap p.mention1 {
  text-align: center;
  margin-top: 20px;
  line-height: 25px;
}
div.result_wrap p {
  text-align: center;
  margin-top: 15px;
}
div.result_wrap p a {
  color: black;
}
div.result_wrap footer {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 0.8rem;
  line-height: 25px;
  padding: 3px;
  box-sizing: border-box;
}
@media screen and (max-width: 320px) {
  div.result_wrap footer {
    padding: 2px;
    font-size: 0.5rem;
  }
}
div.commen_wrap {
  width: 100%;
  height: 100%;
  background-image: url(../img/restult_bg.png);
  background-position: bottom;
  background-size: cover;
  position: absolute;
}
div.commen_wrap h2 {
  width: 75%;
  height: 45px;
  margin: 20px auto;
  line-height: 45px;
  font-weight: bold;
  text-align: center;
  background-color: #208dc3;
  color: white;
  transform: skew(-10deg);
  font-size: 1.6rem;
}
@media screen and (max-width: 320px) {
  div.commen_wrap h2 {
    font-size: 1.6rem;
  }
}
div.commen_wrap h2 p {
  transform: skew(10deg);
}
div.commen_wrap ul {
  width: 95%;
  margin: 20px auto;
}
div.commen_wrap ul li {
  cursor: pointer;
  list-style-type: none;
  height: 50px;
  background-color: white;
  border-bottom: 5px solid #208dc3;
  line-height: 35px;
  padding: 5px;
  box-sizing: border-box;
}
div.commen_wrap ul li div.plus_btn {
  float: right;
  font-size: 2rem;
  font-weight: bold;
}
div.commen_wrap ul div.commen {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: lightblue;
  display: none;
  line-height: 1.6rem;
}
div.commen_wrap ul div.commen P:nth-child(1) {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
div.commen_wrap ul div.commen P span {
  color: red;
  font-weight: bold;
}
