/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), url(https://fonts.gstatic.com/s/notosanskr/v12/PbykFmXiEBPT4ITbgNA5CgmG0X7u.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'), url(https://fonts.gstatic.com/s/notosanskr/v12/Pby7FmXiEBPT4ITbgNA5CgmOalv477IS.otf) format('opentype');
}
.backgroundOption {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
html,
body {
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
}
#wrap {
  max-width: 475px;
  margin: 0 auto;
}
#wrap header {
  width: 100%;
  height: 340px;
  background-image: url(../img/header-bg.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#wrap header h1 {
  width: 100%;
  height: 100%;
  background-image: url(../img/header-h1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: -40px;
  background-size: 112%;
  position: relative;
  z-index: 20;
}
#wrap header div.header_graphic {
  width: 150px;
  height: 150px;
  position: relative;
  background-image: url(../img/header_graphic.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: -100px;
}
#wrap header div.header_photo {
  width: 170px;
  height: 320px;
  position: absolute;
  background-image: url(../img/header_photo.png);
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 20px;
  right: 0px;
  top: 20px;
}
#wrap section.section1 {
  height: 750px;
  background-color: #ec7357;
  overflow: hidden;
}
#wrap section.section1 div.section_wrap {
  padding-top: 50px;
  box-sizing: border-box;
}
#wrap section.section1 div.section_wrap h3 {
  text-align: center;
  font-size: 1rem;
  color: white;
  margin-bottom: 10px;
  font-weight: bold;
}
#wrap section.section1 div.section_wrap h3 span {
  color: #7d0000;
}
#wrap section.section1 div.section_wrap h2 {
  width: 100%;
  height: 50px;
  background-image: url(../img/section1-h2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#wrap section.section1 div.section_wrap div.event1_tab {
  width: 90%;
  height: 620px;
  background: white;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 20px;
  position: relative;
}
#wrap section.section1 div.section_wrap div.event1_tab h3 {
  width: 45%;
  height: 35px;
  margin: 0 auto;
  position: absolute;
  top: -17.5px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 150px;
  background-color: #ff635f;
  background-image: url(../img/section1-h3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}
#wrap section.section1 div.section_wrap div.event1_tab div.event1_img {
  width: 100%;
  height: 50%;
  border-radius: 20px 20px 0px 0px;
  background-image: url(../img/section1-event-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#wrap section.section1 div.section_wrap div.event1_tab h4 {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
#wrap section.section1 div.section_wrap div.event1_tab h4 img {
  width: 40%;
}
#wrap section.section1 div.section_wrap div.event1_tab h4.h4_2 img {
  width: 80%;
}
#wrap section.section1 div.section_wrap div.event1_tab p {
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: -1.5px;
  margin-bottom: 10px;
}
#wrap section.section1 div.section_wrap div.event1_tab p span {
  font-weight: bold;
}
#wrap section.section2 {
  background-color: #fbffb9;
  height: 550px;
  padding-top: 40px;
  box-sizing: border-box;
}
#wrap section.section2 div.section2_tab {
  width: 90%;
  height: 475px;
  background-color: white;
  margin: 0 auto;
  border-radius: 50px 0px 50px 0px;
  padding-top: 30px;
  box-sizing: border-box;
}
#wrap section.section2 div.section2_tab h3 {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  background-color: #e74e49;
  height: 35px;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 20px;
  color: white;
  line-height: 35px;
}
#wrap section.section2 div.section2_tab h4 {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  background-color: #dd5e17;
  height: 35px;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 20px;
  color: white;
  line-height: 35px;
  margin-top: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}
#wrap section.section2 div.section2_tab p {
  text-align: center;
  font-size: 0.67rem;
  letter-spacing: -1.3px;
  margin-bottom: 5px;
}
#wrap section.section2 div.section2_tab p span {
  font-size: 0.6rem;
  color: #f04d4d;
}
#wrap section.section2 div.section2_tab div.main_img {
  width: 90%;
  height: 280px;
  margin: 0 auto;
  background-image: url(../img/section2-tab-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#wrap section.section2 p {
  text-align: right;
  font-size: 0.5rem;
  margin-top: 10px;
  padding-right: 10px;
  letter-spacing: -1px;
}
#wrap section.section3 {
  width: 100%;
  height: 350px;
  background-color: #fdd692;
  padding-top: 50px;
  box-sizing: border-box;
}
#wrap section.section3 div.section3_tab {
  width: 93%;
  height: 250px;
  background: white;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
}
#wrap section.section3 div.section3_tab h3 {
  width: 35%;
  height: 30px;
  background: #68523d;
  border-radius: 20px;
  margin: 0 auto;
  transform: translateY(-50%);
  background-image: url(../img/section3-h3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
}
#wrap section.section3 div.section3_tab div.section3_img {
  width: 90%;
  height: 115px;
  margin: 20px auto;
  background-image: url(../img/section3-imgs.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#wrap section.section3 div.section3_tab p {
  font-size: 0.65rem;
  letter-spacing: -1.3px;
  margin-bottom: 5px;
}
#wrap section.section3 div.section3_tab p span {
  font-weight: bold;
}
#wrap section.section4 {
  width: 100%;
  height: 650px;
  background-color: #ec7357;
  padding-top: 25px;
}
#wrap section.section4 h2 {
  width: 35%;
  height: 30px;
  background-color: #68523d;
  margin: 0 auto;
  border-radius: 50px;
  background-image: url(../img/section4-h2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
#wrap section.section4 div.section4_img {
  width: 90%;
  height: 320px;
  margin: 00px auto;
  background-image: url(../img//section4_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#wrap section.section4 div.section4_text {
  width: 90%;
  height: 130px;
  margin: 0 auto;
  background-image: url(../img/section4-text.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#wrap section.section5 {
  width: 100%;
  height: 240px;
  background-color: #754f44;
  position: relative;
}
#wrap section.section5 div.section5_tab {
  width: 93%;
  height: 250px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  top: -50%;
  border-radius: 20px;
}
#wrap section.section5 div.section5_tab h3 {
  width: 35%;
  height: 30px;
  background-color: #68523d;
  margin: 0 auto;
  transform: translateY(-50%);
  border-radius: 50px;
  background-image: url(../img/foorer-tab-h3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}
#wrap section.section5 div.section5_tab h2 {
  width: 230px;
  height: 45px;
  background-color: #4ebbc2;
  margin-bottom: 5px;
  margin-left: 25px;
  transform: skewx(-20deg);
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 45px;
  font-size: 1.5rem;
}
#wrap section.section5 div.section5_tab h2.second_h2 {
  background-color: #1f274d;
  color: #ffea5c;
  margin-bottom: 20px;
}
#wrap section.section5 div.section5_tab p {
  font-size: 0.8rem;
  margin-left: 25px;
  transform: skewx(-20deg);
  margin-bottom: 5px;
  letter-spacing: -1px;
}
@media screen and (max-width: 360px) {
  #wrap section.section5 div.section5_tab p {
    font-size: 0.7rem;
  }
}
#wrap section.section5 div.section5_tab p span.through {
  text-decoration: line-through;
  font-weight: normal;
}
#wrap section.section5 div.section5_tab p span {
  font-weight: bold;
}
#wrap section.section5 div.section5_tab b {
  font-size: 0.55rem;
  margin-left: 25px;
  letter-spacing: -1px;
  color: #524e4e;
}
#wrap section.section5 div.section5_model {
  width: 30%;
  height: 280px;
  position: absolute;
  background-image: url(../img/section5-model.png);
  right: 5px;
  top: -40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media screen and (max-width: 360px) {
  #wrap section.section5 div.section5_model {
    background-size: cover;
  }
}
#wrap section.section5 div.section5_text_box {
  position: absolute;
  top: 135px;
  margin-left: 10%;
}
#wrap section.section5 div.section5_text_box p {
  font-size: 0.75rem;
  letter-spacing: -1px;
  color: white;
  font-weight: bold;
}
#wrap section.section5 div.section5_text_box p span {
  font-size: 0.5rem;
  color: #ffc2c2;
  font-weight: normal;
}
#wrap footer {
  width: 100%;
  height: 400px;
  background-color: #ec7357;
  padding-top: 50px;
  box-sizing: border-box;
}
#wrap footer div.forms {
  width: 93%;
  height: 300px;
  background-color: white;
  margin: 0 auto;
  border-radius: 30px;
}
#wrap footer div.forms h3 {
  width: 35%;
  height: 30px;
  background-color: #68523d;
  margin: 0 auto;
  transform: translateY(-50%);
  border-radius: 30px;
  background-image: url(../img/footer-h3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}
#wrap footer div.forms ul {
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
}
#wrap footer div.forms ul label {
  font-size: 0.8rem;
}
#wrap footer div.forms ul li {
  width: 100%;
  height: 30px;
  list-style-type: none;
  margin-bottom: 10px;
  margin-top: 5px;
  border: 1px solid gray;
  overflow: hidden;
}
#wrap footer div.forms ul li input {
  width: 100%;
  height: 100%;
  border: 0px;
  padding-left: 5px;
  box-sizing: border-box;
}
#wrap footer div.forms ul li select {
  width: 48%;
  height: 100%;
  float: left;
  background-color: white;
}
#wrap footer div.forms ul li select:nth-child(2) {
  float: right;
}
#wrap footer div.forms ul div.sub_btn {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #7d0000;
  text-align: center;
  line-height: 33px;
  color: white;
  border-radius: 5px;
  font-family: 'yg-jalnan';
  border: 0px;
}
#wrap footer div.forms .calls {
  width: 60%;
  float: left;
  padding-left: 10px;
  box-sizing: border-box;
  margin-top: 20px;
}
#wrap footer div.forms .calls p {
  width: 90%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 0.8rem;
  padding-left: 20px;
}
#wrap footer div.forms .calls p a {
  color: #1f274c;
}
#wrap footer div.forms .calls ul {
  text-align: left;
}
#wrap footer div.forms .calls ul li {
  width: 45px;
  height: 45px;
  display: inline-block;
  margin-right: 2px;
  border: 0px;
}
#wrap footer div.forms .calls ul li img {
  width: 100%;
}
@media screen and (max-width: 375px) {
  #wrap footer div.forms .calls ul li {
    width: 37px;
    height: 37px;
    display: inline-block;
  }
}
