@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
html,
body {
  font-size: 16px;
  font-family: 'Roboto', '맑은고딕', sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #f0f0f0;
}
* {
  color: #222;
}
div#wrap h2 {
  text-align: center;
  padding-top: 50px;
}
div#wrap h2 span {
  display: block;
  font-size: 0.875rem;
}
div#wrap p.sample {
  text-align: center;
}
div#wrap h4 {
  text-align: center;
}
div#wrap form {
  width: 400px;
  height: 300px;
  margin: 50px auto;
  background: #d0d0d0;
}
div#wrap form .filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
div#wrap form .filebox label {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: white;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #ec6647;
  cursor: pointer;
  border-radius: 0.25em;
}
div#wrap form input.upload-name {
  height: 30px;
  vertical-align: middle;
}
div#wrap form div {
  text-align: center;
}
div#wrap form div input.btn {
  display: block;
  box-shadow: none;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  width: 180px;
  height: 40px;
  background: #ec6647;
  margin: 20px auto;
  text-align: center;
  line-height: 40px;
  color: white;
  border-radius: 50px;
  font-weight: bold;
}
div#wrap div.table {
  width: 1000px;
  min-height: 100px;
  margin: 0 auto;
}
div#wrap div.table div.navs {
  width: 100%;
  text-align: center;
}
div#wrap div.table div.navs div.nav {
  cursor: pointer;
  width: 200px;
  height: 40px;
  display: inline-block;
  background: chocolate;
  line-height: 40px;
  margin-right: 20px;
  margin-left: 20px;
  color: white;
}
div#wrap div.table div.controller {
  width: 60%;
  margin: 0 auto;
}
div#wrap div.table div.controller ul h3 {
  margin-top: 50px;
}
div#wrap div.table div.controller ul h3 span {
  font-weight: normal;
  font-size: 0.875rem;
}
div#wrap div.table div.controller ul li {
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 20px;
}
div#wrap div.table div.controller ul li div.label {
  font-weight: bold;
}
div#wrap div.table div.controller ul li input {
  width: 100%;
  height: 40px;
  border: 1px solid #d0d0d0;
  background: #d0d0d0;
  padding-left: 10px;
  box-sizing: border-box;
}
div#wrap div.table div.controller ul li input[type='checkbox'] {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
div#wrap div.table div.controller ul li label {
  cursor: pointer;
}
div#wrap div.table div.controller ul li select {
  width: 100%;
  height: 40px;
  border: 1px solid #d0d0d0;
  background: #d0d0d0;
  padding-left: 10px;
  box-sizing: border-box;
}
div#wrap div.table div.controller ul li select.resum_select {
  height: 40px;
  width: 20%;
}
div#wrap div.table div.controller ul li input.resum_input {
  float: right;
  width: 58%;
  vertical-align: top;
}
div#wrap div.table div.controller ul li.resums {
  margin-bottom: 20px;
}
div#wrap div.submit_btn {
  display: block;
  box-shadow: none;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  width: 250px;
  height: 50px;
  background: #ec6647;
  margin: 50px auto;
  text-align: center;
  line-height: 50px;
  color: white;
  border-radius: 50px;
  font-weight: bold;
}
