@media (max-width: 1190px) {
    #header{height: 1000px;}
    #header h1{width: 70%;}
    #header .cartoon_image{width: 98%;}
    #popup{overflow-y:scroll}
    #popup .popup_box{width: 98%; }
    
    .bi{top:10px; left:10px; margin-left:auto}
    .con ul{width:98%; margin-top:30px}
    .con1 li img{width:100%}
    .con1 div.qa_bg{width: 98%; margin-top: -120px;}
    div.yes_btn{
        left: 15%;
    }
    div.no_btn{
        right: 18%;
    }
    div.char_fig{width: auto; max-width: 250px;}
    div.qa_area{
        width:90%;
    }
    div.qa_area span{
        font-size: 16px;
    }

    .con2 li>div{padding:15px}
    .con2 .tits h2{font-size: 40px;}
    .con3 li p{font-size:18px; margin-bottom:10px}
    .con3 li span{font-size:14px}
    .con4 .bg_illust{width:90%}
    .con4 li{width: 30%;}
    .con4 li>div{width: 100%;}
    .con5{padding:0 10px 50px 10px; box-sizing:border-box}
    .panel{width:100%; padding-bottom:70px}
    .con6{padding:0 10px; box-sizing:border-box}
    .con6 .form_a{width:100%}
}
@media (max-width: 1000px) {
    #header{height: 900px;}
    div.qa_btn{width: 95px;}
    div.char_fig{width: auto; max-width: 220px;}
    .con1 div.qa_bg{width: 98%; margin-top: -100px;}
    .con1 ul li{width: 30px; height: 30px; line-height: 28px;}
    div.qa_btn:hover{
        transform: scale(1.0);
    }
    
}

@media (max-width: 850px) {
    #header{height: 780px;}
    #header .cartoon_image{width: 98%;}
    .con1 h2{width: 40%; margin: 0 auto;}
    .con2 li>div{min-height:270px; padding: 10px; padding-top: 20px;}
    .con1 div.qa_bg{width: 98%; margin-top: -80px;}


    div.qa_btn{width: 95px;}
    div.char_fig{width: auto; max-width: 200px;}
    div.yes_btn{
        left: 15%;
    
    }
    div.no_btn{
        right: 18%;
    }

    div.qa_area{
        width:90%;
        
    }
    div.qa_area span{
        font-size: 16px;
    }

    .con2 li>div h3{font-size: 18px;}
    .con2 li>div p{font-size: 13px; padding:0;}
    .con3 span{font-size: 30px;}
    .con3 .tits>p{font-size: 24px;}
    .con3 li{width:25%; margin-bottom:10px}
    .con3 li>div{padding: 25px;}

    .con3 li>div span{font-size: 13px;}
    .con4 li{width:33%;display: block;float: left;}
    .con4 li>div{min-height: 240px;}
    .con4 li .i_con img{margin: 20px; margin-bottom:10px; width:50px;}
    .con4 li i.i_arrow{right:-20px; margin-top:-10px;}
    .con4 li p{padding-bottom: 20px; font-size: 16px;}
    .con4 li:nth-child(2){margin: 0;}
    .con4 li>div h3{color: white;}
    .con4 li>div span{color: white;}
    .panel button{width:160px; height:160px}
    div.bottom_btnarea .wrap h3{font-size: 30px;}
    div.bottom_btnarea .wrap h2{font-size: 30px;}
    div.bottom_btnarea .bg_illust img{width: 180px; right: 15px;}
    div.btn{padding-top:20px; padding-bottom: 50px;}

}

@media (max-width: 767px) {
    #header{height: 700px;}
    #header h1{width: 80%;}
    #header .cartoon_image{background-position: top; height: 250px;}

    .con1{padding-bottom: 50px;}
    .con1 p b{display: block;}
    div.qa_area{
        width:90%;
    }
    div.qa_area span{
        font-size: 14px;
    }

    div.qa_btn{width: 75px; top: 30%;}
    div.char_fig{width: auto; max-width: 180px;}
    div.yes_btn{
        left: 13%;
    }
    div.no_btn{
        right: 16%;
    }
    div.btns{
        bottom: 20px;
    }
    
    .con .tits{font-size:30px; line-height:35px; margin-top:70px}
    .con .tits span{font-size:30px; line-height:35px}
    .con2 li p{font-size:14px}
    .con2 .num4{top:85px; font-size:100px}
    .con3 .tits>p{font-size: 18px;}
    .con3 li{width:55%;}
    .con3 li.step_4>div{padding-right: 10px;}
    .con3 li:nth-child(2n){width:45%; margin: 0;}
    .con3 li:nth-child(2) img{display: none;}
    .con4 li p{padding-bottom: 20px; font-size: 14px;}
    .con4 .tits span{font-size:25px; line-height:25px}
    .con4 .tits p{font-size:16px; line-height:30px}

    .obj{display:none}
    .con6 .form_a .phone select{width:20%; margin-right:5px}
    .con6 .form_a .phone input{width:40%}
    .panel button{width:150px; height:150px}
  
    
    div.btn{padding-top:20px; padding-bottom: 50px;}
    div.btn span{width: 250px; height: 50px; line-height: 50px;}

    div.bottom_btnarea .bg_illust img{width: 150px; right: 5px;}
    div.btn{padding-top:20px; padding-bottom: 50px;}
}
@media (max-width: 640px) {
    #header{height: 650px;}
    #header h1{width: 90%;}
    #popup .popup_box{width: 100%; height: 100%; overflow-y: scroll; padding-bottom: 50px; padding-top: 50px;}

    .con6 .tits p{
        display: none;
    }
    .con6 .tits span{
        width: 70%;
        margin: 0 auto;
    }

    .x_btn{
        width: 25px;
        right: 5px;
    }
    .bi{width:60px}
    .con1{padding-top: 50px; padding-bottom: 50px;}
    .con1 h2{width: 50%;}
    .con1 h3{font-size: 20px;}
    .con1 div.qa_bg{width: 98%; margin-top: -50px;}
    div.qa_btn{width: 70px; top: 30%;}
    div.char_fig{width: auto; max-width: 180px;}
    div.qa_area span{
        font-size: 12px;
    }

    div.yes_btn{
        left: 7%;
    
    }
    div.no_btn{
        right: 10%;
    }
    .con2 .tits p{font-size: 18px;}
    .con2 .tits h3{font-size: 18px;}
    .con2 .tits h2{font-size: 32px;}
    .con2 li>div{min-height:270px; padding: 5px; padding-top: 20px;}
    .con3 .tits>p{font-size: 18px;}
    .con3{padding-bottom:70px}
    .con6 .form_a>div{padding:10px 0; border:0; box-sizing:border-box}
    .con6 .form_a>div>label{display:none}
    .con6 .form_a input[type=text]{width:100%}
    .con6 .form_a input[type=number]{width:100%}
    .con6 .form_a select{width:100%}
    .con6 .form_a .gender{display:block}
    .con6 .form_a .radio{margin:20px 30px 0 0}
    .con6 .form_a .phone select{width:30%; margin-right:5px}
    .con6 .form_a .phone input{width:100%}
    .privacy>div{width:100%}
    .con4 li>div{min-height:250px}
    .con4 li .i_con img{width:30%; margin:20px 0}
    .con4 li h3{font-size:18px; line-height:20px; padding:15px 0}
    .con4 li span{font-size:18px}
    .con4 li p{font-size:14px; padding:0 10px}
    .con5 .tits p{font-size:18px}
    .con6 .tits p{font-size:18px}

    div.bottom_btnarea .wrap h3{font-size: 24px;}
    div.bottom_btnarea .wrap h2{font-size: 24px;}
    div.bottom_btnarea .bg_illust{width: 100%; text-align: center;}
    div.bottom_btnarea .bg_illust img{width: 180px; right: 15px; position: relative; left: 20px;}
    div.btn{padding-top:20px; padding-bottom: 5px;}
}

@media (max-width: 480px) {
    #header{height: 1100px; padding-top: 20px; background-position-x: 50%; background-position-y: -50%; background-size: 1500px; background-repeat: no-repeat;}
    #header .cartoon_image{
        width: 100%;
        height: 530px;
        background-image: url(../images/con1_cartoon_mo.png);
    }
    #header h1{width: 100%;}
    #header h1 img.pc_tit{display: none;}
    #header h1 img.mo_tit{display: block; width: 100%; margin-bottom: 50px; }
    div.qa_area{
        width:90%;
        top: 16%;
    }
    div.qa_area span{
        font-size: 16px;
        text-align: center;
    }
    img.pc_qa_box{
        display: none;
    }

    img.mo_qa_box{
        display: block;
    }
    div.yes_btn{
        left: 13%;
    }
    div.no_btn{
        right: 16%;
    }
    div.btns{
        width: 45%;
        bottom: -90px;
    }
    .btn1{
        left: 5%;
    }
    
    .btn2{
        left:50%;
    }


    .con .tits{font-size:18px; line-height:20px; margin-top:50px; padding:0 10px; box-sizing:border-box}
    .con .tits span{font-size:18px; line-height:20px}
    .con1{margin-top: 0px; padding-bottom: 100px;}
    .con1 li{float:none; width:100%; padding:5px 10px}
    .con1 li>div{min-height:auto}
    .con1 li img{width:50%; margin-bottom:15px}
    .con1 h3{font-size: 18px;}
    .con1 h2{width: 70%;}
    .con1 ul{margin-top: 10px;}
    .con1 ul li{width: 20px; height: 20px; line-height: 18px; margin: 3px; font-size: 13px;}

    .con2{padding-bottom:50px}
    .con1 div.qa_bg{margin-top: 15px;}
    .qa_bg img.pc_bg{display: none;}
    .con1 .qa_bg img.mo_bg{display: block;}
    .con1 .test_area{width: 100%; height: 40%; right: 0; bottom: 6px;}
    div.qa_btn{width: 100px; top: 20%;}
    div.char_fig{width: auto; max-width: 210px;}

    div.yes_btn{
        left: 8%;
    
    }
    div.no_btn{
        right: 11%;
    }


    .con2 li{width:50%; padding:5px}
    .con2 .num4{top:60px; font-size:70px}
    .con2 .blank{display:inline-block; width:60px}
    .con3 .tits span{font-size:24px;}
    .con3 .tits p{font-size:14px; margin-top: 10px;}
    .con3 li>div{
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 10px;
    }
    .con4 .tits span{
        font-size: 24px;
        line-height: 32px;
    }
    .con4 .tits span b{display: block;margin-top: 10px;}
    .con4 .tits p {
        width: 82%; margin: 0 auto;
        line-height: 20px;
        margin-top: 20px;
    }

    .panel h3{font-size:18px; margin:30px 0; padding:0 10px; box-sizing:border-box}

    .panel div.return_btn{
        margin: 10px auto;
    }
    .panel div.return_top{
        margin-top: 30px;
    }
}

@media (max-width: 414px) {
    #header{height: 950px; background-position-y: -200%; }

    #header .cartoon_image{
        width: 100%;
        height: 450px;
        background-image: url(../images/con1_cartoon_mo.png);
    }
    div.qa_btn{width: 90px; top: 20%;}
    div.char_fig{width: auto; max-width: 180px;}
    div.qa_area span{
        font-size: 14px;
    }
    div.yes_btn{
        left: 10%;
    
    }
    div.no_btn{
        right: 13%;
    }
    
    .title_b img{width:80%}
    .panel h3{font-size:16px}
    
    .con3{padding-bottom:50px}
    .con3 li>div{padding:10px}
    .con3 li p{font-size:14px}
    .con3 li span{font-size:12px}
    
    .con4 li h3{font-size:14px}
    .con4 li span{font-size:14px}
    
    .con5 .tits p{font-size:14px}
    .con6 .tits p{font-size:14px}
}

@media (max-width: 360px) {
    .title_b img{width:90%}
    .panel button{width:140px; height:140px}
   
    div.qa_btn{width: 80px; top: 20%;}
    div.char_fig{width: auto; max-width: 160px;}

    div.yes_btn{
        left: 10%;
    
    }
    div.no_btn{
        right: 13%;
    }
}

@media (max-width: 320px) {
    .panel button{width:130px; height:130px}
    div.char_fig{width: auto; max-width: 150px;}

}
