@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Sans+KR:400,700&display=swap&subset=korean');
// @import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff');

@font-face { font-family: 'HangeulNuri-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff'); font-weight: normal; font-style: normal; } 
*{
    margin: 0;
    padding: 0;
}
a{
    color: black;
    text-decoration: none;
}

html,body{
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    background: #00a6ff;
    font-family: 'Noto Sans KR', sans-serif;
    // font-family: 'Sunflower', sans-serif;
}

#wrap{
    .upper{
        width: 100%;
        height: 450px;;
        margin-bottom: 30px;
    }
    h1.intro_h1{
        width: 100%;
        height: 45%;
        background-color: #6bdafe;
        background-image: url(../img/h1_bg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .upper_img{
        height: 55%;
        background-image: url(../img/intro_upper_img.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    h2{
        margin: 0 auto;
        font-size: 24px;
        text-align: center;
        color: white;
        font-weight: 500;
        font-family: 'HangeulNuri-Bold';

    }
    div.cartoon-container{
        width: 90%;
        margin: 20px auto;
    div.cartoon{
        width: 100%;
        height: 220px;;
        margin-bottom: 5px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cartoon1{
        background-image: url(../img/cartoon1.png);
    }
    .cartoon2{
        background-image: url(../img/cartoon2.png);
    }
    .cartoon3{
        background-image: url(../img/cartoon3.png);
    }
}

.text-area{
    text-align: center;
    color: white;
    font-size: 12px;
    letter-spacing: -1px;
    .text-area p:nth-child(2){
        margin-bottom: 15px;
    }
    .text-area span{
        font-weight: bold;
    }
 
}

.start_btn{
    width: 60%;
    height: 50px;
    margin: 20px auto;
    margin-bottom: 10px;
    text-align: center;
    line-height: 50px;
    border-radius: 100px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
    cursor: pointer;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcf299+1,ffff3a+42 */
    background: #fcf299; /* Old browsers */
    background: -moz-linear-gradient(top, #fcf299 1%, #ffff3a 42%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fcf299 1%,#ffff3a 42%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fcf299 1%,#ffff3a 42%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf299', endColorstr='#ffff3a',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: -4px 4px 5px 0px rgba(110,110,110,1);
    -moz-box-shadow: -4px 4px 5px 0px rgba(110,110,110,1);
    box-shadow: -4px 4px 5px 0px rgba(110,110,110,1);
    
}

footer{
    width: 100%;
    height: 140px;
    background-image: url(../img/footer.png);
    background-size: cover;
    background-position: center;
}

    @media screen and (max-width:375px){
    .upper{
        margin-bottom: 0px;
    }
    h1.intro_h1{
        height: 35%;;
    }

    .upper_img{
        height: 55%;
    }
    h2{
        font-size: 20px;
        font-family: 'HangeulNuri-Bold';

    }
    div.cartoon{
        height: 180px;
        margin: 0px;
    }

    .text-area{
        font-size: 11px;
    }
    .start_btn{
        font-size: 15px;
    }
        
    }
}
#testpage_wrap{
    position: relative;;
    min-height: 100%;
    h1{
        width: 100%;
        height: 140px;
        background-image: url(../img/testh1.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    div.test-wrap{
        
        height: 100%;
    
        h2{
            width: 80%;
            margin: 0 auto;
            border-radius: 150px;
            font-size: 22px;
            margin-bottom: 20px;
            text-align: center; 
            font-family: 'HangeulNuri-Bold';
            color: #ffffff;
            letter-spacing: -2px;
            // font-family: 'Do Hyeon', sans-serif;
            // font-family: 'Sunflower', sans-serif;
            // font-weight: normal;
        }
        @media screen and (max-width:375px){
            h2{
                font-size: 17px;
                margin-bottom: 10px;
            }
        }

        .total-point{
            font-size: 40px;
        }
        .noanswer{
            width: 80%;
            margin: 10px auto;
            color: #424242;
            text-align: left;
            font-size: 14px;
            span{
                font-weight: bold;
            }
        }
        .noanswer1{
            margin-top: 0px;
        }
        p.mention{
            text-align: center;
            font-size: 14px;
            margin: 0 auto;
            margin-top: 30px;
            font-weight: bold;
            color: #424242;
        }
        .inputs_page_wrap{
            height: 650px;;
        }
        ul.qas{
            text-align: center;
            li{
                cursor: pointer;
                overflow: hidden;
                width: 150px;
                height: 150px;
                line-height: 150px;
                display: inline-block;
                margin: 10px;
                background-color: yellowgreen;
                margin: 10px;
                font-size: 16px;
                border-radius: 20px;
                box-shadow: -4px 4px 5px 0px rgba(110,110,110,1);
                text-align: center;
                font-family: 'HangeulNuri-Bold';
                font-weight: normal;;
            }
            .block_list{
                display: block;
                margin: 20px auto;
            }
            li:nth-child(1){
                background-color: mediumaquamarine;
            }
            li:nth-child(2){
                background-color: powderblue;
            }
            li:nth-child(3){
                background-color: fadeout(rgb(255,127,80),5%);
            }
            li:nth-child(4){
                background-color: blanchedalmond;
            }
            .test-container li a{
                color: black;
                text-decoration: none;
            }
            @media screen and (max-width:375px){
            
                li{
                    width: 120px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 14px;
                }
            }

        }
        ul.inputs{
            width: 80%;
            position: relative;
            margin: 30px auto;
            border: 3px dashed white;
            padding-bottom: 40px;
            h3{
                padding-top: 20px;
                text-align: center;
            }
            @media screen and (max-width:375px){
                ul.inputs{
                    width: 90%;
                }
                .noanswer{
                    width: 90%!important;
                }
                h3{
                    padding-top: 10px;;
                }
            }

            li{
                width: 75%;
                height: 25px;
                margin: 10px auto;
                list-style-type: none;
                input{
                    width: 70%;
                    height: 100%;
                    margin-left: 10px;
                    border: 0px;
                    background-color: lightgray;
                    float: right;
                    font-size: 12px;
                    padding-left: 10px;
                    box-sizing: border-box;
                }
                select{
                    height: 100%;
                    width: 70%;
                    font-size: 12px;
                    float: right;
                    padding-left: 10px;
                    box-sizing: border-box;
                }
                div.name-gender{
                    width: 100%;
                    height: 100%;
                //     span{
                //         display: inline-block;
                //     }
                //     input{
                //         display: inline-block;
                //         width: 50%;
                //     }
                //     select{
                //         display: inline-block;
                //         width: 20%;
                //     }
                }
            }
            

            li.sub_btn{
                width: 50%;
                height: 30px;
                margin-top: 20px;
                margin-bottom: 10px;
                text-align: center;
                line-height: 30px;
                border-radius: 100px;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: -1px;
                cursor: pointer;
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcf299+1,ffff3a+42 */
                background: #fcf299; /* Old browsers */
                background: -moz-linear-gradient(top, #fcf299 1%, #ffff3a 42%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #fcf299 1%,#ffff3a 42%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #fcf299 1%,#ffff3a 42%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf299', endColorstr='#ffff3a',GradientType=0 ); /* IE6-9 */
                -webkit-box-shadow: -4px 4px 3px 0px rgba(110,110,110,1);
                -moz-box-shadow: -4px 4px 3px 0px rgba(110,110,110,1);
                box-shadow: -4px 4px 3px 0px rgba(110,110,110,1);
            }
        }
        .front_ans{
            cursor: pointer;
            margin-top: 15px;
            text-align: center;
            font-size: 20px;
            font-family: 'HangeulNuri-Bold';
            text-decoration: underline;
            color: white;
        }
        @media screen and (max-width:375px){
            ul.inputs{
                width: 90%;
                height: 220px;
                p{
                    text-align: center;
                    font-size: 14px;
                    color: #424242;
                }
            }
        .front_ans{
            font-size: 16px;
            }
        }
    }
    footer{
        width: 100%;
        height: 120px;
        background-image: url(../img/footer.png);
        background-size: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0px;
        margin-top: 40px;
        z-index: 0;
    }
    @media screen and (max-width:375px){
    footer{
    }
        
    }

} 
