/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  width: 100%;
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), url(https://fonts.gstatic.com/s/notosanskr/v12/PbykFmXiEBPT4ITbgNA5CgmG0X7u.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'), url(https://fonts.gstatic.com/s/notosanskr/v12/Pby7FmXiEBPT4ITbgNA5CgmOalv477IS.otf) format('opentype');
}
.backgroundOption {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
html,
body {
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
}
div#wrap {
  max-width: 575px;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap {
    max-width: 767px;
  }
}
@media (min-width: 768px) {
  div#wrap {
    max-width: 991px;
  }
}
div#wrap div.insert_btn {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 10px;
  top: 50%;
  background: white;
  border-radius: 150px;
  text-align: center;
  background-image: url(../img/fixed_menu.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  -webkit-box-shadow: 0px 0px 5px 0px #575757;
  -moz-box-shadow: 0px 0px 5px 0px #575757;
  box-shadow: 0px 0px 5px 0px #575757;
}
div#wrap header {
  width: 100%;
  height: 450px;
  background-image: url(../img/header-bgimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  div#wrap header {
    height: 500px;
  }
}
div#wrap header .header_wrap {
  text-align: center;
  padding-top: 55px;
}
div#wrap header .header_wrap h2 {
  font-size: 2.143rem;
  font-weight: bold;
  letter-spacing: -2px;
  color: #35eaff;
}
div#wrap header .header_wrap h1 {
  width: 235px;
  margin: 10px auto;
}
@media (min-width: 768px) {
  div#wrap header .header_wrap h1 {
    width: 300px;
  }
}
div#wrap header .header_wrap h1 img {
  width: 100%;
}
div#wrap header .header_wrap ul.header_list {
  margin-top: 140px;
  height: 100%;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap header .header_wrap ul.header_list {
    margin-top: 70px;
  }
}
div#wrap header .header_wrap ul.header_list li {
  width: 76px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  div#wrap header .header_wrap ul.header_list li {
    width: 115px;
    height: 133px;
  }
}
div#wrap header .header_wrap ul.header_list li:nth-child(1) {
  background-image: url(../img/header-ul-li1.png);
}
div#wrap header .header_wrap ul.header_list li:nth-child(3) {
  background-image: url(../img/header-ul-li2.png);
}
div#wrap header .header_wrap ul.header_list li:nth-child(5) {
  background-image: url(../img/header-ul-li3.png);
}
div#wrap header .header_wrap ul.header_list li.plus_img {
  width: 17px;
  height: 90px;
  background-image: url(../img/header-ul-li-plus.png);
  background-size: contain;
}
@media (min-width: 768px) {
  div#wrap header .header_wrap ul.header_list li.plus_img {
    height: 133px;
    margin-right: 1px;
    margin-left: 10px;
  }
}
div#wrap header .header_wrap div.header_arrow {
  width: 35px;
  height: 26px;
  margin: 0 auto;
  background-image: url(../img/header-arrow_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -10px;
}
div#wrap header .header_wrap p.header_ment {
  font-size: 1.429rem;
  color: #fff841;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
div#wrap main {
  height: 100%;
}
div#wrap main div.arrow_ani {
  width: 285px;
  height: 275px;
  margin: 0 auto;
  background-image: url(../img/main-arrow-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  div#wrap main div.arrow_ani {
    width: 430px;
    height: 400px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap main div.arrow_ani {
    width: 430px;
    height: 400px;
  }
}
div#wrap main div.arrow_ani h2 {
  text-align: center;
  padding-top: 155px;
  font-size: 3.286rem;
  color: white;
}
@media (min-width: 768px) {
  div#wrap main div.arrow_ani h2 {
    padding-top: 215px;
    font-size: 5.6rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap main div.arrow_ani h2 {
    padding-top: 215px;
    font-size: 5.6rem;
  }
}
div#wrap main div.ticket {
  width: 100%;
  height: 152px;
  margin: 0 auto;
  position: relative;
  bottom: 20px;
  z-index: -1;
  background-image: url(../img/main-ticket-bg.png);
  text-align: center;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  div#wrap main div.ticket {
    height: 242px;
    bottom: 40px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap main div.ticket {
    height: 242px;
    bottom: 40px;
  }
}
div#wrap main div.ticket div.ticket_ment {
  padding-top: 45px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-weight: bold;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  div#wrap main div.ticket div.ticket_ment {
    padding-top: 75px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap main div.ticket div.ticket_ment {
    padding-top: 75px;
  }
}
div#wrap main div.ticket div.ticket_ment h3 {
  color: #443618;
  font-size: 0.938rem;
}
@media (min-width: 768px) {
  div#wrap main div.ticket div.ticket_ment h3 {
    font-size: 1.375rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap main div.ticket div.ticket_ment h3 {
    font-size: 1.375rem;
  }
}
div#wrap main div.ticket div.ticket_ment h2 {
  color: #bc2a23;
  font-size: 2.5rem;
  letter-spacing: -2px;
  margin-top: 10px;
}
@media (min-width: 768px) {
  div#wrap main div.ticket div.ticket_ment h2 {
    font-size: 3.18rem;
    margin-top: 20px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap main div.ticket div.ticket_ment h2 {
    font-size: 3.18rem;
    margin-top: 20px;
  }
}
div#wrap main p {
  text-align: center;
  font-size: 0.938rem;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  div#wrap main p {
    font-size: 1.406rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap main p {
    font-size: 1.406rem;
  }
}
div#wrap main p span {
  font-weight: bold;
}
div#wrap section.slider {
  width: 100%;
  height: 425px;
  background-color: #2f8df5;
  margin-top: 50px;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.slider {
    height: 445px;
  }
}
@media (min-width: 768px) {
  div#wrap section.slider {
    height: 445px;
  }
}
div#wrap section.forms div.form {
  width: 100%;
  max-width: 335px;
  padding-top: 50px;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.forms div.form {
    max-width: 625px;
  }
}
@media (min-width: 768px) {
  div#wrap section.forms div.form {
    max-width: 625px;
  }
}
div#wrap section.forms div.form h3 {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
div#wrap section.forms div.form div.inputs {
  width: 330px;
  height: 40px;
  margin: 10px auto;
  overflow: hidden;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.forms div.form div.inputs {
    width: 400px;
    height: 50px;
    display: inline-block;
  }
}
@media (min-width: 768px) {
  div#wrap section.forms div.form div.inputs {
    width: 300px;
    height: 50px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
  }
}
div#wrap section.forms div.form div.inputs input {
  width: 100%;
  height: 100%;
  border: 0px;
  box-sizing: border-box;
  outline: none;
  padding-left: 10px;
  border: 1px solid #f62d58;
}
div#wrap section.forms div.form .btns {
  border: 0px;
  line-height: 40px;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.forms div.form .btns {
    line-height: 50px;
  }
}
@media (min-width: 768px) {
  div#wrap section.forms div.form .btns {
    line-height: 50px;
  }
}
div#wrap section.forms div.form .btns .btn {
  width: 48.5%;
  height: 100%;
  float: left;
  background-color: #f62d58;
  color: white;
  font-weight: bold;
}
div#wrap section.forms div.form .btns .btn:nth-child(2) {
  float: right;
}
div#wrap section.forms div.form div.agrees {
  width: 330px;
  text-align: left;
}
div#wrap section.forms div.form div.agrees input {
  vertical-align: middle;
  margin-right: 5px;
}
div#wrap section.forms div.form div.agrees p {
  font-size: 0.8rem;
  color: #f62d58;
  font-weight: bold;
}
div#wrap section.forms div.form div.sub_btns {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #f62d58;
  margin: 0 auto;
  margin-top: 15px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.forms div.form div.sub_btns {
    max-width: 335px;
    height: 50px;
    line-height: 50px;
  }
}
@media (min-width: 768px) {
  div#wrap section.forms div.form div.sub_btns {
    max-width: 335px;
    height: 50px;
    line-height: 50px;
  }
}
div#wrap section.click_menu {
  width: 100%;
  height: 350px;
  margin: 50px auto;
}
div#wrap section.click_menu ul.list_tit {
  width: 100%;
  height: 50px;
  text-align: center;
  border-bottom: 1px solid black;
}
div#wrap section.click_menu ul.list_tit li {
  cursor: pointer;
  width: 30%;
  float: left;
  background: white;
  line-height: 50px;
  transform: translateY(-1px);
  box-sizing: border-box;
  font-weight: bold;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.click_menu ul.list_tit li {
    width: 20%;
  }
}
@media (min-width: 768px) {
  div#wrap section.click_menu ul.list_tit li {
    width: 20%;
  }
}
div#wrap section.click_menu ul.list_tit li:nth-child(1) {
  margin-left: 5%;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.click_menu ul.list_tit li:nth-child(1) {
    margin-left: 20%;
  }
}
@media (min-width: 768px) {
  div#wrap section.click_menu ul.list_tit li:nth-child(1) {
    margin-left: 20%;
  }
}
div#wrap section.click_menu ul.list_tit .active {
  border: 1px solid black;
  border-bottom: 1px solid white;
}
div#wrap section.click_menu ul.list_tit .active div {
  height: 50.25px;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.click_menu ul.list_tit .active div {
    height: 50.2px;
  }
}
@media (min-width: 768px) {
  div#wrap section.click_menu ul.list_tit .active div {
    height: 51px;
  }
}
div#wrap section.click_menu ul.list_tit .beactive {
  border-right: 1px solid #999999;
  border-top: 1px solid #999999;
  color: #999999;
  background: #f0f0f0;
}
div#wrap section.click_menu div.list_menu_section {
  padding-top: 50px;
}
div#wrap section.click_menu div.list_menu_section ul {
  text-align: center;
  margin-bottom: 10px;
}
div#wrap section.click_menu div.list_menu_section ul li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid grey;
  overflow: hidden;
  border-radius: 150px;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 999;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.click_menu div.list_menu_section ul li {
    width: 125px;
    height: 125px;
  }
}
@media (min-width: 768px) {
  div#wrap section.click_menu div.list_menu_section ul li {
    width: 125px;
    height: 125px;
  }
}
div#wrap section.click_menu div.list_menu_section .list1 li:nth-child(1) {
  background-image: url(../img/section-click-icon1.png);
}
div#wrap section.click_menu div.list_menu_section .list1 li:nth-child(2) {
  background-image: url(../img/section-click-icon2.png);
}
div#wrap section.click_menu div.list_menu_section .list1 li:nth-child(3) {
  background-image: url(../img/section-click-icon3.png);
}
div#wrap section.click_menu div.list_menu_section .list1 p {
  width: 80%;
  height: 2px;
  background: black;
  position: relative;
  bottom: 50px;
  z-index: -1;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.click_menu div.list_menu_section .list1 p {
    width: 70%;
  }
}
@media (min-width: 768px) {
  div#wrap section.click_menu div.list_menu_section .list1 p {
    width: 70%;
  }
}
div#wrap section.click_menu div.list_menu_section .list2 li:nth-child(1) {
  background-image: url(../img/section-click-icon4.png);
}
div#wrap section.click_menu div.list_menu_section .list2 li:nth-child(2) {
  background-image: url(../img/section-click-icon5.png);
}
div#wrap section.click_menu div.list_menu_section .list2 li:nth-child(3) {
  background-image: url(../img/section-click-icon6.png);
}
div#wrap section.click_menu div.list_menu_section .list2 p {
  width: 80%;
  height: 2px;
  background: black;
  position: relative;
  bottom: 50px;
  z-index: -1;
  float: right;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.click_menu div.list_menu_section .list2 p {
    bottom: 62.5px;
    width: 70%;
  }
}
@media (min-width: 768px) {
  div#wrap section.click_menu div.list_menu_section .list2 p {
    bottom: 62.5px;
    width: 70%;
  }
}
div#wrap section.last_ment {
  width: 100%;
  height: 320px;
  background-color: #d4efff;
  padding-top: 55px;
  box-sizing: border-box;
  text-align: center;
}
div#wrap section.last_ment p {
  font-size: 0.975rem;
  margin-bottom: 10px;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.last_ment p {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  div#wrap section.last_ment p {
    display: inline-block;
  }
}
div#wrap section.last_ment p span {
  font-weight: bold;
  color: #f62d58;
}
div#wrap section.last_ment p.strong_text {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 25px;
}
div#wrap section.last_ment div.last_mention {
  width: 90%;
  height: 75px;
  margin: 30px auto;
  background-image: url(../img/section-last-ment.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 15px;
  box-sizing: border-box;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.last_ment div.last_mention {
    width: 70%;
  }
}
@media (min-width: 768px) {
  div#wrap section.last_ment div.last_mention {
    width: 70%;
  }
}
div#wrap section.last_ment div.last_mention p {
  display: block;
  font-weight: bold;
  color: white;
}
div#wrap footer {
  height: 150px;
  text-align: center;
  padding-top: 25px;
  box-sizing: border-box;
}
div#wrap footer img {
  width: 80px;
  margin-bottom: 20px;
}
div#wrap footer p {
  font-size: 0.563rem;
  margin-bottom: 5px;
  color: #8d8d8d;
}
