/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  width: 100%;
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), url(https://fonts.gstatic.com/s/notosanskr/v12/PbykFmXiEBPT4ITbgNA5CgmG0X7u.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'), url(https://fonts.gstatic.com/s/notosanskr/v12/Pby7FmXiEBPT4ITbgNA5CgmOalv477IS.otf) format('opentype');
}
@font-face {
  font-family: 'Nanum Brush Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nanum Brush Script'), local('NanumBrush'), url(https://fonts.gstatic.com/s/nanumbrushscript/v17/wXK2E2wfpokopxzthSqPbcR5_gVaxazCg6pv.ttf) format('truetype');
}
.backgroundOption {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
html,
body {
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 1200px;
  margin: 0 auto;
}
div#wrap header {
  width: 100%;
  height: 800px;
  background-image: url(../pc-img/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div#wrap header div.header_wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 250px;
  box-sizing: border-box;
  text-align: center;
}
div#wrap header div.header_wrap h2 {
  font-size: 3.025rem;
  font-weight: bold;
  color: #35eaff;
  letter-spacing: -2px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
div#wrap header div.header_wrap h1 {
  width: 465px;
  margin: 15px auto;
}
div#wrap header div.header_wrap ul.hexagon_anis {
  width: 100%;
  max-width: 620px;
  height: 185px;
  margin: 0 auto;
}
div#wrap header div.header_wrap ul.hexagon_anis li {
  width: 70px;
  height: 100%;
  float: left;
}
div#wrap header div.header_wrap ul.hexagon_anis li:nth-child(1) {
  width: 160px;
  background-image: url(../pc-img/header-hexagon1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div#wrap header div.header_wrap ul.hexagon_anis li:nth-child(3) {
  width: 160px;
  background-image: url(../pc-img/header-hexagon2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div#wrap header div.header_wrap ul.hexagon_anis li:nth-child(5) {
  width: 160px;
  background-image: url(../pc-img/header-hexagon3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div#wrap header div.header_wrap ul.hexagon_anis li:nth-child(2),
div#wrap header div.header_wrap ul.hexagon_anis li:nth-child(4) {
  background-image: url(../pc-img/header-hexagon-plus.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
div#wrap header div.header_wrap div.arrow {
  width: 75px;
  height: 45px;
  margin: 0 auto;
  background-image: url(../pc-img/header-arrow.png);
  margin-bottom: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
div#wrap header div.header_wrap p {
  font-size: 2.5rem;
  color: #fff841;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
div#wrap section.section1 {
  width: 100%;
  height: 480px;
}
div#wrap section.section1 div.section_wrap {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}
div#wrap section.section1 div.section_wrap div.left_tab {
  width: 50%;
  height: 100%;
  float: left;
  background-image: url(../pc-img/section1-tab1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-position: left bottom;
  z-index: -1;
  position: relative;
}
div#wrap section.section1 div.section_wrap div.right_tab {
  width: 50%;
  height: 100%;
  float: left;
  background-image: url(../pc-img/section1-tab2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
  position: relative;
}
div#wrap section.section1 div.section_wrap div.right_tab div.tab_wrap {
  width: 55%;
  float: right;
  padding-top: 170px;
  box-sizing: border-box;
  text-align: center;
}
div#wrap section.section1 div.section_wrap div.right_tab div.tab_wrap h3 {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 2.5rem;
  margin-right: 50px;
  color: #e02012;
  margin-bottom: 25px;
}
div#wrap section.section1 div.section_wrap div.right_tab div.tab_wrap h4 {
  font-size: 1.563rem;
  margin-right: 50px;
  font-weight: bold;
  text-decoration: line-through;
}
div#wrap section.section1 div.section_wrap div.right_tab div.tab_wrap h2 {
  font-size: 3.125rem;
  margin-right: 40px;
  font-weight: bold;
  color: #e02012;
  margin-top: 10px;
}
div#wrap section.section1 div.section_wrap div.center_arrow {
  width: 580px;
  height: 440px;
  position: relative;
  background-image: url(../pc-img/section1-arrow.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}
div#wrap section.section1 div.section_wrap div.center_arrow h3 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 170px);
  font-size: 5.5rem;
  font-weight: bold;
  color: white;
  letter-spacing: -3;
}
div#wrap section.section1 div.section_wrap div.center_arrow h3 span {
  font-size: 7.5rem;
}
div#wrap section.banner-1 {
  width: 100%;
  height: 450px;
  background-image: url(../pc-img/section2-banner_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div#wrap section.banner-1 div.section_wrap {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}
div#wrap section.banner-1 div.section_wrap div.text_tab {
  width: 50%;
  height: 100%;
  float: right;
  padding-top: 140px;
  box-sizing: border-box;
}
div#wrap section.banner-1 div.section_wrap div.text_tab h3 {
  font-size: 2.05rem;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}
div#wrap section.banner-1 div.section_wrap div.text_tab h2 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff15a;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
div#wrap section.sliders {
  width: 100%;
  height: 800px;
  background: #2f8df5;
}
div#wrap section.section2 {
  width: 100%;
  height: 950px;
  background-color: #f0f0f0;
}
div#wrap section.section2 div.section_wrap {
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 100px;
  position: relative;
}
div#wrap section.section2 div.section_wrap h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: -2px;
}
div#wrap section.section2 div.section_wrap h3 {
  font-size: 1.5rem;
  text-align: center;
  color: #666666;
  margin-bottom: 10px;
  letter-spacing: -2px;
}
div#wrap section.section2 div.section_wrap div.section2-img {
  width: 810px;
  height: 600px;
  background-image: url(../pc-img/section2-img.jpg);
  margin: 30px auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div#wrap section.section2 div.section_wrap div.section2-img_fly {
  width: 525px;
  height: 510px;
  position: absolute;
  right: -170px;
  top: 430px;
  will-change: transform;
}
@media screen and (max-width: 1440px) {
  div#wrap section.section2 div.section_wrap div.section2-img_fly {
    top: 530px;
    right: -80px;
  }
}
@media screen and (max-width: 1200px) {
  div#wrap section.section2 div.section_wrap div.section2-img_fly {
    top: 530px;
    right: -20px;
  }
}
div#wrap section.section2 div.section_wrap div.section2-img_fly img {
  width: 90%;
}
div#wrap section.forms_area {
  height: 560px;
}
div#wrap section.forms_area div.section_wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}
div#wrap section.forms_area div.section_wrap h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: -2px;
}
div#wrap section.forms_area div.section_wrap div.forms {
  width: 810px;
  height: 270px;
  margin: 50px auto;
}
div#wrap section.forms_area div.section_wrap div.forms div.inputs_wrap {
  height: 130px;
}
div#wrap section.forms_area div.section_wrap div.forms .inputs {
  width: 49%;
  height: 130px;
  float: left;
  margin-right: 0.5%;
}
div#wrap section.forms_area div.section_wrap div.forms .inputs ul li {
  width: 100%;
  height: 60px;
  margin-bottom: 5px;
}
div#wrap section.forms_area div.section_wrap div.forms .inputs ul li input {
  width: 100%;
  height: 100%;
  border: 0px;
  border: 2px solid #d0d0d0;
  box-sizing: border-box;
  padding-left: 15px;
  font-size: 1.25rem;
}
div#wrap section.forms_area div.section_wrap div.forms .inputs ul li div {
  width: 49.5%;
  height: 100%;
  background-color: #f62d58;
  float: left;
  margin-right: 1%;
  text-align: center;
  line-height: 60px;
  color: white;
  font-size: 1.25rem;
}
div#wrap section.forms_area div.section_wrap div.forms .inputs ul li div:nth-child(2) {
  margin-right: 0px;
}
div#wrap section.forms_area div.section_wrap div.forms p {
  margin-top: 20px;
  font-weight: bold;
  color: #f62d58;
}
div#wrap section.forms_area div.section_wrap div.forms div.sub_btn {
  width: 300px;
  height: 60px;
  margin: 35px auto;
  background-color: #f62d58;
  border-radius: 150px;
  text-align: center;
  line-height: 60px;
  color: white;
}
div#wrap section.section3 {
  width: 100%;
  height: 800px;
  background-color: #f0f0f0;
}
div#wrap section.section3 div.section_wrap {
  padding-top: 100px;
  max-width: 1200px;
  margin: 0 auto;
}
div#wrap section.section3 div.section_wrap h2 {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: -2px;
}
div#wrap section.section3 div.section_wrap ul.circle_anis {
  width: 100%;
  height: 180px;
  margin-top: 25px;
  text-align: center;
}
div#wrap section.section3 div.section_wrap ul.circle_anis li {
  width: 180px;
  height: 180px;
  display: inline-block;
  border-radius: 150px;
  margin-right: 5px;
  margin-left: 5px;
  border: 2px solid #5b5b5b;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
  position: relative;
  z-index: 10;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div#wrap section.section3 div.section_wrap ul.circle_anis li:nth-child(1) {
  background-image: url(../pc-img/section-click-icon1.png);
}
div#wrap section.section3 div.section_wrap ul.circle_anis li:nth-child(2) {
  background-image: url(../pc-img/section-click-icon2.png);
}
div#wrap section.section3 div.section_wrap ul.circle_anis li:nth-child(3) {
  background-image: url(../pc-img/section-click-icon3.png);
}
div#wrap section.section3 div.section_wrap ul.circle_anis li:nth-child(4) {
  background-image: url(../pc-img/section-click-icon4.png);
}
div#wrap section.section3 div.section_wrap ul.circle_anis li:nth-child(5) {
  background-image: url(../pc-img/section-click-icon5.png);
}
div#wrap section.section3 div.section_wrap ul.circle_anis li:nth-child(6) {
  background-image: url(../pc-img/section-click-icon6.png);
}
div#wrap section.section3 div.section_wrap p {
  width: 80%;
  height: 3px;
  background: #5b5b5b;
  margin: 0 auto;
  transform: translateY(-90px);
  position: relative;
  z-index: 1;
}
div#wrap section.section3 div.section_wrap div.text_tabs {
  width: 48%;
  height: 300px;
  display: inline-block;
  margin-top: 60px;
  overflow: hidden;
  float: left;
}
div#wrap section.section3 div.section_wrap div.text_tabs div.tab_wrap {
  width: 99%;
  height: 100%;
  background: white;
  padding-top: 40px;
  padding-left: 50px;
  box-sizing: border-box;
}
div#wrap section.section3 div.section_wrap div.text_tabs div.tab_wrap h3 {
  font-size: 1.1rem;
  font-weight: bold;
}
div#wrap section.section3 div.section_wrap div.text_tabs div.tab_wrap ul.precautions {
  margin-top: 20px;
}
div#wrap section.section3 div.section_wrap div.text_tabs div.tab_wrap ul.precautions li {
  margin-bottom: 25px;
  color: #444444;
  font-weight: bold;
}
div#wrap section.section3 div.section_wrap div.text_tabs div.tab_wrap ul.precautions li span {
  background-color: #f62d58;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  text-align: center;
  line-height: 20px;
  border-radius: 150px;
  font-size: 0.7rem;
  color: white;
}
div#wrap section.section3 div.section_wrap div.text_tabs div.tab_wrap ul.precautions li b {
  width: 88%;
  font-size: 0.9rem;
  line-height: 18px;
}
div#wrap section.section3 div.section_wrap div.text_tabs div.tab_wrap ul.qna li.qustion span {
  background-color: #2f8df5;
}
div#wrap section.section3 div.section_wrap div.text_tabs div.tab_wrap ul.qna li.qustion b {
  color: #777777;
}
div#wrap section.section3 div.section_wrap div.right_tab {
  float: right;
}
div#wrap section.footer_ment {
  width: 100%;
  height: 550px;
  background-color: #d4efff;
  padding-top: 115px;
  box-sizing: border-box;
  text-align: center;
}
div#wrap section.footer_ment p {
  font-size: 1.9rem;
  letter-spacing: -2px;
  color: #444444;
  margin-bottom: 20px;
}
div#wrap section.footer_ment p span.coma1 img {
  width: 30px;
  position: relative;
  left: -30px;
  top: -20px;
}
div#wrap section.footer_ment p span.coma2 img {
  width: 30px;
  position: relative;
  left: 130px;
  top: 10px;
}
div#wrap section.footer_ment p span {
  color: #f62d58;
}
div#wrap section.footer_ment h3 {
  text-align: center;
  margin-top: 65px;
  font-size: 2rem;
  font-weight: bold;
  color: #222222;
}
div#wrap section.footer_ment div.ment_box {
  width: 660px;
  height: 140px;
  margin: 50px auto;
  background-image: url(../pc-img/footer_ment.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div#wrap footer {
  width: 100%;
  height: 320px;
  padding-top: 50px;
  box-sizing: border-box;
  text-align: center;
}
div#wrap footer img {
  width: 125px;
  margin-bottom: 35px;
}
div#wrap footer p {
  font-size: 0.85rem;
  color: #999999;
  margin-bottom: 5px;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  line-height: 20px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.container #agree_check {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #999999;
}
/* On mouse-over, add a grey background color */
/* When the checkbox is checked, add a blue background */
.container #agree_check ~ .checkmark {
  background-color: #f62d58;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
