/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  width: 100%;
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), url(https://fonts.gstatic.com/s/notosanskr/v12/PbykFmXiEBPT4ITbgNA5CgmG0X7u.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'), url(https://fonts.gstatic.com/s/notosanskr/v12/Pby7FmXiEBPT4ITbgNA5CgmOalv477IS.otf) format('opentype');
}
@font-face {
  font-family: 'Nanum Brush Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nanum Brush Script'), local('NanumBrush'), url(https://fonts.gstatic.com/s/nanumbrushscript/v17/wXK2E2wfpokopxzthSqPbcR5_gVaxazCg6pv.ttf) format('truetype');
}
.backgroundOption {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
html,
body {
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 360px;
}
div#wrap {
  max-width: 575px;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap {
    max-width: 767px;
  }
}
@media (min-width: 768px) {
  div#wrap {
    max-width: 991px;
  }
}
div#wrap div.insert_btn {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 10px;
  bottom: 10%;
  background: white;
  border-radius: 150px;
  text-align: center;
  background-image: url(../img/fixed_menu.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 5px 0px #575757;
  -moz-box-shadow: 0px 0px 5px 0px #575757;
  box-shadow: 0px 0px 5px 0px #575757;
}
div#wrap header {
  width: 100%;
  height: 450px;
  background-image: url(../img/header-bgimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  div#wrap header {
    height: 500px;
  }
}
div#wrap header .header_wrap {
  text-align: center;
  padding-top: 55px;
}
div#wrap header .header_wrap h2 {
  font-size: 2.143rem;
  font-weight: bold;
  letter-spacing: -2px;
  color: #35eaff;
}
div#wrap header .header_wrap h1 {
  width: 235px;
  margin: 10px auto;
}
@media (min-width: 768px) {
  div#wrap header .header_wrap h1 {
    width: 300px;
  }
}
div#wrap header .header_wrap h1 img {
  width: 100%;
}
div#wrap header .header_wrap ul.header_list {
  margin-top: 140px;
  height: 100%;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap header .header_wrap ul.header_list {
    margin-top: 70px;
  }
}
div#wrap header .header_wrap ul.header_list li {
  width: 76px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  div#wrap header .header_wrap ul.header_list li {
    width: 115px;
    height: 133px;
  }
}
div#wrap header .header_wrap ul.header_list li:nth-child(1) {
  background-image: url(../img/header-ul-li1.png);
  opacity: 0;
}
div#wrap header .header_wrap ul.header_list li:nth-child(3) {
  background-image: url(../img/header-ul-li2.png);
  opacity: 0;
}
div#wrap header .header_wrap ul.header_list li:nth-child(5) {
  background-image: url(../img/header-ul-li3.png);
  opacity: 0;
}
div#wrap header .header_wrap ul.header_list li.plus_img {
  width: 17px;
  height: 90px;
  background-image: url(../img/header-ul-li-plus.png);
  background-size: contain;
}
@media (min-width: 768px) {
  div#wrap header .header_wrap ul.header_list li.plus_img {
    height: 133px;
    margin-right: 1px;
    margin-left: 10px;
  }
}
div#wrap header .header_wrap div.header_arrow {
  width: 35px;
  height: 26px;
  margin: 0 auto;
  background-image: url(../img/header-arrow_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  position: relative;
  bottom: 30px;
  margin-top: -10px;
}
div#wrap header .header_wrap p.header_ment {
  font-size: 1.429rem;
  color: #fff841;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  opacity: 0;
}
div#wrap main {
  height: 100%;
}
div#wrap main div.arrow_ani {
  width: 285px;
  height: 215px;
  margin: 0 auto;
  background-image: url(../img/main-arrow-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  bottom: 300px;
  z-index: -1;
}
@media (min-width: 768px) {
  div#wrap main div.arrow_ani {
    width: 430px;
    height: 320px;
    bottom: 400px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap main div.arrow_ani {
    width: 430px;
    height: 320px;
    bottom: 400px;
  }
}
div#wrap main div.arrow_ani h2 {
  text-align: center;
  padding-top: 100px;
  font-size: 3.086rem;
  font-weight: bold;
  color: white;
}
div#wrap main div.arrow_ani h2 span {
  display: inline-block;
  width: 30px;
  margin-right: 20px;
  text-align: right;
}
@media (min-width: 768px) {
  div#wrap main div.arrow_ani h2 span {
    width: 50px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap main div.arrow_ani h2 span {
    width: 50px;
  }
}
@media (min-width: 768px) {
  div#wrap main div.arrow_ani h2 {
    padding-top: 150px;
    font-size: 4.286rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap main div.arrow_ani h2 {
    padding-top: 150px;
    font-size: 4.286rem;
  }
}
div#wrap main div.ticket {
  width: 100%;
  height: 152px;
  margin: 0 auto;
  position: relative;
  bottom: 35px;
  z-index: -2;
  background-image: url(../img/main-ticket-bg.png);
  text-align: center;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  div#wrap main div.ticket {
    height: 242px;
    bottom: 40px;
    background-size: contain;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap main div.ticket {
    height: 242px;
    bottom: 40px;
  }
}
div#wrap main div.ticket div.ticket_ment {
  padding-top: 45px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-weight: bold;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  div#wrap main div.ticket div.ticket_ment {
    padding-top: 75px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap main div.ticket div.ticket_ment {
    padding-top: 75px;
  }
}
div#wrap main div.ticket div.ticket_ment h3 {
  color: #443618;
  font-size: 0.938rem;
}
@media (min-width: 768px) {
  div#wrap main div.ticket div.ticket_ment h3 {
    font-size: 1.375rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap main div.ticket div.ticket_ment h3 {
    font-size: 1.375rem;
  }
}
div#wrap main div.ticket div.ticket_ment h2 {
  color: #bc2a23;
  font-size: 2.5rem;
  letter-spacing: -2px;
  margin-top: 10px;
}
div#wrap main div.ticket div.ticket_ment h2 span {
  color: #222;
  font-size: 1.6rem;
  margin-right: 15px;
  text-decoration: line-through;
}
@media (min-width: 768px) {
  div#wrap main div.ticket div.ticket_ment h2 {
    font-size: 3.18rem;
    margin-top: 20px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap main div.ticket div.ticket_ment h2 {
    font-size: 3.18rem;
    margin-top: 20px;
  }
}
div#wrap main p {
  text-align: center;
  font-size: 0.938rem;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  div#wrap main p {
    font-size: 1.406rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap main p {
    font-size: 1.406rem;
  }
}
div#wrap main p span {
  font-weight: bold;
}
div#wrap section.banner-1 {
  overflow: hidden;
  width: 100%;
  height: 300px;
  background-image: url(../img/banner-banner1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.banner-1 {
    background-image: url(../img/tablet-banner-banner1.png);
  }
}
@media (min-width: 768px) {
  div#wrap section.banner-1 {
    background-image: url(../img/tablet-banner-banner1.png);
  }
}
div#wrap section.banner-1 div.text_box {
  width: 55%;
  height: 100%;
  float: right;
  padding-top: 80px;
  box-sizing: border-box;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.banner-1 div.text_box {
    padding-top: 90px;
    width: 50%;
  }
}
@media (min-width: 768px) {
  div#wrap section.banner-1 div.text_box {
    padding-top: 90px;
    width: 50%;
  }
}
div#wrap section.banner-1 div.text_box h2 {
  display: inline-block;
  font-size: 1.35rem;
  z-index: 2;
  display: none;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.banner-1 div.text_box h2 {
    font-size: 1.325rem;
  }
}
@media (min-width: 768px) {
  div#wrap section.banner-1 div.text_box h2 {
    font-size: 1.325rem;
  }
}
div#wrap section.banner-1 div.text_box div.under_line {
  margin-bottom: 17px;
}
div#wrap section.banner-1 div.text_box h3 {
  width: 500px;
  font-size: 1.963rem;
  font-weight: 800;
  margin-bottom: 8px;
  color: rgba(255, 241, 90, 0);
  letter-spacing: -1px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
}
div#wrap section.banner-1 div.text_box h3 div.tab_h3 {
  display: none;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.banner-1 div.text_box h3 div.tab_h3 {
    display: inline;
  }
}
@media (min-width: 768px) {
  div#wrap section.banner-1 div.text_box h3 div.tab_h3 {
    display: inline;
  }
}
div#wrap section.banner-1 div.text_box h3.line_1 {
  animation-duration: 0.5s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
}
div#wrap section.banner-1 div.text_box h3.line_2 {
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
}
div#wrap section.banner-1 div.text_box h3.line_3 {
  animation-duration: 0.5s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.banner-1 div.text_box h3.mob_h3 {
    display: none;
  }
}
@media (min-width: 768px) {
  div#wrap section.banner-1 div.text_box h3.mob_h3 {
    display: none;
  }
}
@keyframes identifier {
  0% {
    font-size: 5rem;
    color: rgba(255, 241, 90, 0);
  }
  100% {
    font-size: 1.933rem;
    color: #fff15a;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}
div#wrap div.slider {
  width: 100%;
  height: 470px;
  background-color: #2f8df5;
}
div#wrap .bx-wrapper {
  background-color: #2f8df5;
  border: 0px;
  margin-bottom: 0px;
}
div#wrap .bx-wrapper div.slider-img {
  width: 100%;
  height: 100%;
  padding-top: 0px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div#wrap .bx-wrapper .bx-pager {
  position: absolute;
  bottom: 50px;
}
div#wrap .bx-wrapper .bx-pager div a {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  box-sizing: border-box;
}
div#wrap .bx-wrapper .bx-pager .active {
  background-color: white;
}
div#wrap .bx-wrapper div.slider-img1 {
  background-image: url(../img/main-slide1.png);
  background-size: 90%;
  background-position-y: 35%;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap .bx-wrapper div.slider-img1 {
    background-image: url(../img//big-main-slide4.png);
    background-size: contain;
  }
}
@media (min-width: 768px) {
  div#wrap .bx-wrapper div.slider-img1 {
    background-image: url(../img//big-main-slide4.png);
    background-size: 80%;
  }
}
div#wrap .bx-wrapper div.slider-img2 {
  background-image: url(../img/main-slide2.png);
  background-size: 80%;
  background-position-y: 35%;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap .bx-wrapper div.slider-img2 {
    background-image: url(../img//big-main-slide3.png);
    background-size: contain;
  }
}
@media (min-width: 768px) {
  div#wrap .bx-wrapper div.slider-img2 {
    background-image: url(../img//big-main-slide3.png);
    background-size: contain;
  }
}
div#wrap .bx-wrapper div.slider-img3 {
  background-image: url(../img/main-slide3.png);
  background-size: 90%;
  background-position-y: 35%;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap .bx-wrapper div.slider-img3 {
    background-image: url(../img//big-main-slide2.png);
    background-size: 55%;
  }
}
@media (min-width: 768px) {
  div#wrap .bx-wrapper div.slider-img3 {
    background-image: url(../img//big-main-slide2.png);
    background-size: 55%;
  }
}
div#wrap .bx-wrapper div.slider-img4 {
  background-size: cover;
  background-image: url(../img/main-slide4.png);
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap .bx-wrapper div.slider-img4 {
    background-image: url(../img//big-main-slide1.png);
    background-size: contain;
  }
}
@media (min-width: 768px) {
  div#wrap .bx-wrapper div.slider-img4 {
    background-image: url(../img//big-main-slide1.png);
    background-size: contain;
  }
}
div#wrap .bx-wrapper .bx-next,
div#wrap .bx-wrapper .bx-prev {
  display: none;
}
div#wrap section.banner-2 {
  width: 100%;
  height: 425px;
  margin-bottom: 50px;
  background-color: #f0f0f0;
}
div#wrap section.banner-2 div.section_wrap {
  padding-top: 50px;
}
div#wrap section.banner-2 div.section_wrap h2 {
  text-align: center;
  font-size: 1.45rem;
  font-weight: bold;
  margin-bottom: 15px;
}
div#wrap section.banner-2 div.section_wrap h3 {
  text-align: center;
  color: #666666;
  margin-bottom: 5px;
}
div#wrap section.banner-2 div.section_wrap div.graph_imgs {
  width: 330px;
  height: 250px;
  background-image: url(../img/banner-banner2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px auto;
}
div#wrap section.forms div.form {
  width: 100%;
  max-width: 335px;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.forms div.form {
    max-width: 625px;
  }
}
@media (min-width: 768px) {
  div#wrap section.forms div.form {
    max-width: 625px;
  }
}
div#wrap section.forms div.form h3 {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
div#wrap section.forms div.form div.inputs {
  width: 330px;
  height: 40px;
  margin: 10px auto;
  overflow: hidden;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.forms div.form div.inputs {
    width: 400px;
    height: 50px;
    display: inline-block;
  }
}
@media (min-width: 768px) {
  div#wrap section.forms div.form div.inputs {
    width: 300px;
    height: 50px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
  }
}
div#wrap section.forms div.form div.inputs input {
  width: 100%;
  height: 100%;
  border: 0px;
  box-sizing: border-box;
  outline: none;
  padding-left: 10px;
  border: 1px solid lightgray;
}
div#wrap section.forms div.form div.inputs input[type=text]:focus {
  border: 1px solid #f62d58;
}
div#wrap section.forms div.form div.inputs input[type=number]:focus {
  border: 1px solid #f62d58;
}
div#wrap section.forms div.form .btns {
  border: 0px;
  line-height: 40px;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.forms div.form .btns {
    line-height: 50px;
  }
}
@media (min-width: 768px) {
  div#wrap section.forms div.form .btns {
    line-height: 50px;
  }
}
div#wrap section.forms div.form .btns .gender_btn {
  width: 48.5%;
  height: 100%;
  float: left;
  background-color: lightgray;
  color: white;
  font-weight: bold;
}
div#wrap section.forms div.form .btns .gender_btn:nth-child(2) {
  float: right;
}
div#wrap section.forms div.form div.agrees {
  width: 330px;
  text-align: left;
}
div#wrap section.forms div.form div.agrees input {
  vertical-align: middle;
  margin-right: 5px;
}
div#wrap section.forms div.form div.agrees p {
  font-size: 0.8rem;
  color: #f62d58;
  font-weight: bold;
}
div#wrap section.forms div.form div.sub_btns {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #f62d58;
  margin: 0 auto;
  margin-top: 15px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.forms div.form div.sub_btns {
    max-width: 335px;
    height: 50px;
    line-height: 50px;
  }
}
@media (min-width: 768px) {
  div#wrap section.forms div.form div.sub_btns {
    max-width: 335px;
    height: 50px;
    line-height: 50px;
  }
}
div#wrap section.click_menu {
  width: 100%;
  height: 350px;
  margin: 30px auto;
}
div#wrap section.click_menu ul.list_tit {
  width: 100%;
  height: 50px;
  text-align: center;
  border-bottom: 1px solid black;
}
div#wrap section.click_menu ul.list_tit li {
  width: 30%;
  float: left;
  background: white;
  line-height: 50px;
  transform: translateY(-1px);
  box-sizing: border-box;
  font-weight: bold;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.click_menu ul.list_tit li {
    width: 20%;
  }
}
@media (min-width: 768px) {
  div#wrap section.click_menu ul.list_tit li {
    width: 20%;
  }
}
div#wrap section.click_menu ul.list_tit li:nth-child(1) {
  margin-left: 5%;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.click_menu ul.list_tit li:nth-child(1) {
    margin-left: 20%;
  }
}
@media (min-width: 768px) {
  div#wrap section.click_menu ul.list_tit li:nth-child(1) {
    margin-left: 20%;
  }
}
div#wrap section.click_menu ul.list_tit .active {
  border: 1px solid black;
  border-bottom: 1px solid white;
}
div#wrap section.click_menu ul.list_tit .active div {
  height: 50.25px;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.click_menu ul.list_tit .active div {
    height: 50.2px;
  }
}
@media (min-width: 768px) {
  div#wrap section.click_menu ul.list_tit .active div {
    height: 51px;
  }
}
div#wrap section.click_menu ul.list_tit .beactive {
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
  border-top: 1px solid #999999;
  color: #999999;
  background: #f0f0f0;
}
div#wrap section.click_menu div.caption1 {
  padding-top: 50px;
}
div#wrap section.click_menu div.caption1 ul {
  text-align: center;
  margin-bottom: 10px;
}
div#wrap section.click_menu div.caption1 ul li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid grey;
  overflow: hidden;
  border-radius: 150px;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 900;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.click_menu div.caption1 ul li {
    width: 125px;
    height: 125px;
  }
}
@media (min-width: 768px) {
  div#wrap section.click_menu div.caption1 ul li {
    width: 125px;
    height: 125px;
  }
}
div#wrap section.click_menu div.caption1 .list1 li:nth-child(1) {
  background-image: url(../img/section-click-icon1.png);
  opacity: 0;
}
div#wrap section.click_menu div.caption1 .list1 li:nth-child(2) {
  background-image: url(../img/section-click-icon2.png);
  opacity: 0;
}
div#wrap section.click_menu div.caption1 .list1 li:nth-child(3) {
  background-image: url(../img/section-click-icon3.png);
  opacity: 0;
}
div#wrap section.click_menu div.caption1 .list1 p {
  width: 80%;
  height: 2px;
  background: black;
  position: relative;
  bottom: 50px;
  left: -25%;
  z-index: -1;
  opacity: 0;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.click_menu div.caption1 .list1 p {
    width: 70%;
    left: -25%;
  }
}
@media (min-width: 768px) {
  div#wrap section.click_menu div.caption1 .list1 p {
    width: 70%;
    left: -25%;
  }
}
div#wrap section.click_menu div.caption1 .list2 li:nth-child(3) {
  background-image: url(../img/section-click-icon4.png);
  opacity: 0;
}
div#wrap section.click_menu div.caption1 .list2 li:nth-child(2) {
  background-image: url(../img/section-click-icon5.png);
  opacity: 0;
}
div#wrap section.click_menu div.caption1 .list2 li:nth-child(1) {
  background-image: url(../img/section-click-icon6.png);
  opacity: 0;
}
div#wrap section.click_menu div.caption1 .list2 p {
  width: 55%;
  height: 2px;
  background: black;
  position: relative;
  bottom: 50px;
  z-index: -1;
  float: right;
  opacity: 0;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.click_menu div.caption1 .list2 p {
    bottom: 62.5px;
  }
}
@media (min-width: 768px) {
  div#wrap section.click_menu div.caption1 .list2 p {
    bottom: 62.5px;
  }
}
div#wrap section.click_menu .caption2 {
  display: none;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 40px;
  box-sizing: border-box;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.click_menu .caption2 {
    max-width: 60%;
  }
}
@media (min-width: 768px) {
  div#wrap section.click_menu .caption2 {
    max-width: 60%;
  }
}
div#wrap section.click_menu .caption2 ul li {
  margin-top: 5px;
}
div#wrap section.click_menu .caption2 ul li span {
  background: #f62d58;
  border-radius: 150px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: white;
  font-size: 0.8rem;
  margin-right: 10px;
  position: relative;
  bottom: 20px;
  display: inline-block;
}
div#wrap section.click_menu .caption2 ul li p {
  box-sizing: border-box;
  padding-top: 10px;
  width: 85%;
  display: inline-block;
  line-height: 20px;
  font-size: 1rem;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.click_menu .caption2 ul li p {
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) {
  div#wrap section.click_menu .caption2 ul li p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 360px) {
  div#wrap section.click_menu .caption2 ul li p {
    font-size: 0.85rem;
  }
}
div#wrap section.click_menu .caption3 {
  display: none;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  box-sizing: border-box;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.click_menu .caption3 {
    max-width: 60%;
  }
}
@media (min-width: 768px) {
  div#wrap section.click_menu .caption3 {
    max-width: 60%;
  }
}
div#wrap section.click_menu .caption3 ul li span {
  background: #f62d58;
  border-radius: 150px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: white;
  font-size: 0.8rem;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  bottom: 20px;
}
div#wrap section.click_menu .caption3 ul li p {
  font-size: 0.85rem;
  box-sizing: border-box;
  padding-top: 10px;
  width: 85%;
  display: inline-block;
  line-height: 20px;
  letter-spacing: -1px;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.click_menu .caption3 ul li p {
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) {
  div#wrap section.click_menu .caption3 ul li p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 360px) {
  div#wrap section.click_menu .caption3 ul li p {
    font-size: 0.85rem;
  }
}
div#wrap section.click_menu .caption3 ul li:nth-child(1) span {
  background-color: #2f8df5;
  bottom: 0px;
}
div#wrap section.click_menu .caption3 ul li:nth-child(1) p {
  line-height: 20px;
}
div#wrap section.click_menu .caption3 ul li:nth-child(3) span {
  background-color: #2f8df5;
  bottom: 0px;
}
div#wrap section.last_ment {
  width: 100%;
  height: 320px;
  background-color: #d4efff;
  padding-top: 55px;
  box-sizing: border-box;
  text-align: center;
}
div#wrap section.last_ment p {
  font-size: 0.975rem;
  margin-bottom: 10px;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.last_ment p {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  div#wrap section.last_ment p {
    display: inline-block;
  }
}
div#wrap section.last_ment p span {
  font-weight: bold;
  color: #f62d58;
}
div#wrap section.last_ment p.strong_text {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 25px;
}
div#wrap section.last_ment div.last_mention {
  width: 90%;
  height: 75px;
  margin: 30px auto;
  background-image: url(../img/section-last-ment.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 15px;
  box-sizing: border-box;
}
@media (min-width: 576px) and (max-width: 767px) {
  div#wrap section.last_ment div.last_mention {
    width: 70%;
  }
}
@media (min-width: 768px) {
  div#wrap section.last_ment div.last_mention {
    width: 70%;
  }
}
div#wrap section.last_ment div.last_mention p {
  display: block;
  font-weight: bold;
  color: white;
}
div#wrap footer {
  height: 150px;
  text-align: center;
  padding-top: 25px;
  box-sizing: border-box;
}
div#wrap footer img {
  width: 80px;
  margin-bottom: 20px;
}
div#wrap footer p {
  font-size: 0.763rem;
  margin-bottom: 5px;
  color: #8d8d8d;
}
