@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Roboto:100,400,600|Noto Sans KR:100,400,700");

html,body{position:relative; width:100%; height:100%; background:#fff}
html,body,ul,ol,img,div,span,iframe,a,p{margin:0; padding:0; border:0; outline:none}
html,body,ul,ol,li,img,div,span,iframe,a,p,input,textarea,select,i{
    font-family:'Roboto','Noto Sans KR', sans-serif; 
    font-size:14px; font-weight:400; font-style:normal; word-break:keep-all; color:#444; letter-spacing:-1px;
}
a,a:hover,a:active,a:focus{text-decoration:none}
img{border:none; width:100%}
ul,ol{list-style:none}
iframe,object,video,embed{position:relative; top:0; left:0; max-width:100%}

.wrap{position:relative; width:100%; height:100%}

/* header */
#header{position:relative; background:url(../images/top_visual.jpg) no-repeat top center; background-size:cover; text-align:center; width:100%; height:700px}
.title_b{position:absolute; z-index:1; top:185px; left:50%; margin-left:-417px}
.head_tit{
    position:absolute; z-index:2; bottom:-100px; left:50%; margin-left:-600px; width:1200px;
    background:url(../images/head_bg.jpg) no-repeat center; background-size:cover; text-align:center; overflow:hidden;
    box-shadow:15px 15px 10px rgba(0,0,0,0.1)
}
.head_tit p{color:#fff}
.head_tit p.htit_1{margin-top:25px; font-size:28px; font-weight:700; letter-spacing:0.3px}
.head_tit p.htit_2{margin-left:16px; font-size:20px; font-weight:100; letter-spacing:14px}
.head_tit p.htit_3{margin:10px 0 25px 0; font-size:60px; font-weight:100}
.head_tit p.htit_3 span{font-size:60px; font-weight:600; color:#fff}

#section{position:relative; width:100%}
.con{position:relative; text-align:center; overflow:hidden}
.con1{background:#e6ebee; padding-top:90px; text-align:center; overflow:hidden}
.con .vline{display:inline-block; background:#444; width:1px; height:50px}
.con>h1{margin-top:10px; margin-bottom:30px}
.con>ul{width:1200px; margin:0 auto}
.con>ul>li{float:left; width:30%}
.con>ul>li:nth-child(2n){width:5%}
.con>ul>li.i_plus img{width:30px; margin-top:200%}

.con>ul>li .panel{position:relative; display:block; width:100%; box-sizing:border-box; background:#fff; box-shadow:15px 15px 10px rgba(0,0,0,0.1)}
.con1>ul>li .panel .ctit{padding:40px 0}

.con>ul>li .panel h4{color:#666}
.con>ul>li .panel h2{font-weight:700}
.con>ul>li .panel h3{line-height:25px}
.con>ul>li .panel .scon{background:#f6f6f6; padding:20px 0}
.con>ul>li .panel p{font-size:16px; color:#666}
.con .i_arrow{
    clear:both; width:60px; margin:0 auto; padding:20px 0;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: bounce;
}
.con .panel li i img{width:26px; margin-right:5px; vertical-align:middle}
.con .panel .a_none{pointer-events:none}

.con .sub_txt{background:url(../images/sub_bg.jpg) no-repeat center; background-size:cover; padding:50px 0}
.con .sub_txt p{font-size:45px; line-height:50px}
.con .sub_txt p:first-child{font-weight:100; color:#fff}
.con .sub_txt p:last-child{font-weight:700; color:#ffd542}

.con2{background:#e6ebee; padding:100px 0}
.con .title p.tit_h{font-weight:100; font-size:50px; color:#222; line-height:60px}
.con .title p.tit_h span{font-weight:600; font-size:50px; color:#222}
.con .title p.tit_s{font-size:24px; line-height:40px; color:#666; padding:0 10px; box-sizing:border-box}
.con .title p.tit_s span{font-size:24px; color:#222}
.con .title p.tit_s2{font-size:30px; font-weight:700; line-height:30px; color:#222}

.con2 ul{margin-top:80px}
.con .p_label{position:absolute; top:-50px; left:50%; margin-left:-50px; padding-top:20px; width:100px; height:100px; background:#fc1839; font-size:16px; color:#fff; box-sizing:border-box}
.con .p_label span{display:block; color:#fff; font-size:28px}
.con2 .panel{min-height:380px}
.con2>ul li .panel .ctit{padding-top:70px}
.con2>ul li .panel ul{margin:0; padding:10px 0 10px 30px; width:100%; box-sizing: border-box}
.con2>ul li .panel ul li{text-align:left; padding:5px 0}
.con2>ul li .panel ul li p:first-child{color:#444}
.con2>ul li .panel ul li p.li_txt{font-size:14px}
.con2>ul li .panel a{position:absolute; bottom:0; display:block; background:#fc1839; margin-top:20px; width:100%; height:60px; line-height:60px; font-size:18px; text-align:center; color:#fff}
.con2>ul li .panel a:hover{background:#e50526}

.con3{padding:100px 0; border-bottom:1px solid #d9d9d9}












.con4{padding:100px 0}

/* slide */
.swiper-container{position:relative; width:100%; height:100%; margin-top:50px; padding:0 10px; box-sizing:border-box}
.swiper-slide{
    text-align:center; font-size:30px; background:#999;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.con5{background:#e6ebee; padding:100px 0}
.con5 .db_img{position:relative; width:1200px; margin:0 auto; padding-top:50px; text-align:center}
.con5 .db_img>div{position:relative; display:inline-block; width:500px; vertical-align:middle;}
.con5 .db_img>div.db_arrow img{transform:rotate(-90deg)}
.con5 .db_img>div.db_arrow{
    vertical-align:middle; width:60px; margin:0 30px;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: bounce2;
}

.con6{padding:100px 0}
.con6>div{text-align:left}
.con6>div.title{text-align:center}
.con6 .title p.tit_h{font-weight:700; font-size:30px; line-height:30px}
.privacy{width:1200px; margin:0 auto; padding-top:50px}
.p_box{width:100%; height:150px; border:1px solid #d9d9d9; background:#f9f9f9; padding:20px; box-sizing:border-box; overflow:hidden; overflow-y:scroll}
.privacy p{font-size:14px; margin-bottom:20px}
.privacy ol{list-style:decimal; margin-left:10px}
.privacy li{font-size:13px; color:#666; line-height:20px; margin-bottom:10px}
.privacy .checkbox{margin-top:10px}

.form_area{width:1200px; margin:0 auto; margin-top:50px; box-sizing:border-box}
.form_area .form_box>div{width:48%; float:left; margin-bottom:30px}
.form_area .form_box>div:nth-child(2n){float:right}
.form_area p{font-size:13px; margin-bottom:15px; color:#888}
.form_area input[type=text]{width:100%}

.form_area .form_box .form_select{width:100%}
.form_area .form_select>div{width:100%; text-align:center}
.form_area .form_select>div div{width:30%; display:inline-block; text-align:left; box-sizing:border-box}
.form_area .form_select>div div:nth-child(1){float:left}
.form_area .form_select>div div:nth-child(3){float:right}

.form_area .radio label{display:block; width:100%; height:50px; line-height:49px; border:1px solid #d9d9d9; box-sizing:border-box}

.btn{clear:both; margin:0 auto; width:300px; height:60px; padding:20px 0}
.btn span{display:block; background:#fc1839; line-height:60px; text-align:center; color:#fff; font-size:18px; cursor: pointer;}
.btn span:hover{background:#e50526}


/* 
    elements ----------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

/* Typo Elements*/
.tred{color:#f83430}
.tblue{color:#165596}
.tgreen{color:#31ac20}

h1,h2,h3,h4,h5,h6{font-style:normal; font-weight:400; letter-spacing:-2px; padding:0; margin:0}
h1{font-size:40px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:18px}
h5{font-size:16px}
h6{font-size:14px}
.tal{text-align:left}
.tar{text-align:right}
.tac{text-align:center}
.fl{float:left}
.fr{float:right}
.ml50{margin-left:50px}

/* placeholder color */
::-webkit-input-placeholder{color:#999; font-size:14px}
:-ms-input-placeholder{color:#999; font-size:14px}

/* form elements */
input[type=text]{font-weight:400; border-radius:0; box-sizing:border-box; outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

input{position:relative; border:1px solid #d9d9d9; height:50px; padding:10px; vertical-align:middle; transition:all 0.3s ease}
input:focus{border:1px solid #666; background:#f9f9f9}

.checkbox{position:relative}
.checkbox input{display:none}
.privacy .checkbox label{padding-left:30px; min-height:20px; margin-top:4px; margin-bottom:10px; width:auto; cursor:pointer; display:inline-block; color:#888}
.checkbox label:before {content: url(../images/icon_chk.png); position:absolute; top:5px; left:0; width:25px; height:25px; background:#d9d9d9}
.checkbox input:checked + label:after {content: url(../images/icon_chk.png); position:absolute}
.checkbox input:checked + label:before {background: #d02816}
.checkbox input:checked + label{color:#d02816}

.radio{position:relative}
.radio input{display:none}
.radio label{
    cursor:pointer; padding-left:45px; color:#999;
    text-overflow:ellipsis; white-space:nowrap; word-break:normal; overflow:hidden;
}
.radio label:before {content:''; position:absolute; top:14px; left:15px; width:20px; height:20px; border:1px solid #d0d0d0; border-radius:50%}
.radio input:checked + label{border:1px solid #444; background:#f9f9f9; color:#222}
.radio input:checked + label:after {content:''; position:absolute}
.radio input:checked + label:before {border:6px solid #d02816; box-sizing:border-box}

.dp_none{display:none}

/*  animated */
.animated {
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    -ms-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    -ms-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -ms-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.bounce {
  -webkit-animation-name: bounce;
  -ms-animation-name: bounce;
  animation-name: bounce;
}
.bounce {
  -webkit-animation-name: bounce2;
  -ms-animation-name: bounce2;
  animation-name: bounce2;
}

.delay_1{animation-delay:0.1s}
.delay_2{animation-delay:0.2s}
.delay_3{animation-delay:0.3s}
.delay_4{animation-delay:0.4s}
.delay_5{animation-delay:0.5s}
.delay_6{animation-delay:0.6s}
.delay_7{animation-delay:0.7s}
.delay_8{animation-delay:0.8s}
.delay_9{animation-delay:0.9s}
.delay_0{animation-delay:1s}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-90px);
        -ms-transform: translateX(-90px);
        transform: translateX(-90px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(90px);
        -ms-transform: translateX(90px);
        transform: translateX(90px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(90px);
        -ms-transform: translateY(90px);
        transform: translateY(90px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-90px);
        -ms-transform: translateY(-90px);
        transform: translateY(-90px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  40% {
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  60% {
    -webkit-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
