* {
  margin: 0;
  padding: 0;
}
html,
body {
  background: #00a6ff;
}
header {
  width: 100%;
  height: 800px;
  background: skyblue;
}
header h1 {
  max-width: 90%;
  height: 490px;
  margin: 0 auto;
  text-align: center;
  background: gray;
  padding-top: 70px;
  box-sizing: border-box;
}
